.login{
    height: 100vh;
    /* background: linear-gradient(5deg, #1a3c71, #355595); */
}
.text-danger{
    color: red;
}

.form-control,
.btn-login {
    border-radius: 20px !important;
    border: 1px solid  #00000054 !important;
    margin: 1em 0 !important;
    height: 2.5rem !important;
    
}

/* .form-control{
    background-color: white!important;
}

.btn-login{
    background-color: white!important;
} */
.form-label{
    /* color: white!important; */
    font-size: 16px;
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1, h2{
    /* color: white; */
}


.formulario-login{
    width: 100%;
}
.titulo-banner {
    text-align: center;
    font-size: 51px;
    font-weight: 600;
    margin: 0;
}

.subtitulo-banner {
    margin: 0;
    margin: 0.2em 0 2em 0;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.box-logo {
    /* background: red; */
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
}

.texto-caixa-logo {
    /* width: 20%; */
    /* background: rebeccapurple; */
    /* position: relative; */
}

.logo-caixa{
    width: 90%;
    /* background-color: red; */
    padding-top: 2em;
    padding-left: 2em;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login {
    display: flex;
    /* background: green; */
    width: 30%;
}

.imagem-astronauta {
    width: 80%;
    position: absolute;
    bottom: 30px;
}