

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background: linear-gradient(5deg, #1a3c71, #355595); */
}
.titulo-banner, .subtitulo-banner{
    color: white;
}

.btn-entrar{
    cursor: pointer;
}


/* .login::before {
    content: '';
    position: absolute;
    width: 300px; 
    height: 300px; 
    background-color: #A084CA; 
    border-radius: 50%;
    z-index: -2; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* 
.login::after {
    content: '';
    position: absolute;
    width: 200px; 
    height: 200px; 
    background-color: #683C92;
    border-radius: 50%;
    z-index: -1; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.text-danger {
    color: red;
}

.form-control,
.btn-login {
    border-radius: 20px !important;
    border: 1px solid #00000054 !important;
    margin: 0.5em 0 !important;
    height: 2.5rem !important;
}

.btn-login{
    border: none !important;
}
.form-control{
    background-color: white!important;
}



.form-label {
    font-size: 16px;
    font-weight: 400;
    color:white;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1, h2 {
    /* color: white; */
}

.formulario-login {
    width: 100%;
    /* text-align: center; */
}

.titulo-banner {
    text-align: center;
    font-size: 51px;
    font-weight: 600;
    margin: 0;
}

.subtitulo-banner {
    margin: 0;
    margin: 0.5em 0 2em 0;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}

.box-logo {
    position: absolute;
    left: 0;
    width:26%;
    height: 100%;
}

.texto-caixa-logo {
    /* width: 20%; */
}

.logo-caixa {
    width: 100%;
padding: 4em 0 2em 0;
}

/* .texto-caixa-logo{
    width: 100%;
} */
.box-login {
    display: flex;
    width: 26%;
}

.imagem-astronauta {
    width: 80%;
    position: absolute;
    bottom: 30px;
}


.titulo-cadastrar-login{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.cadastrar-login{
    text-align: center;
}


button.me-0.ms-auto.btn-login.col.m12 {
    background-color: #1d1d1d;
    color: white;
    font-weight: 600;
    font-size: 19px;
    /* border-radius: 121px; */
    height: 2rem;
    /* padding: 1em 0; */
    height: 3rem !important;
}



.btn-cadastr-login{

}

button.btn-cadastar-login {
    background: #62a6ec;
    color: white;
    border: none;
    padding: 1em 6em;
    border-radius: 35px;
    font-weight: 600;
}

section.login {
    background: linear-gradient(to bottom,#3157a3, #6b3998); 
    height: 100vh;
}

.link-forgot{
    margin-left: 0.5em;
}