<section class="app-stepper">
    

    <div class="caixa-stepper">
   
        <ul class="nav nav-pills nav-justified header-steper" >
            <ng-container *ngFor="let step of steps; let i = index" >
                <li class="nav-item" *ngIf="step.label !== 'teste'">
                    <div class="d-grid">
                        <button [class.active]="selectedIndex === i || (selectedIndex == 1 && i === 0)" class="nav-link py-3 fw-bold">
                            <div class="caixa-linha">
                                <div class="topico">
                                    <fa-icon [icon]="[tipos[step.label], icones[step.label]]" class="icone-lixo"></fa-icon>
                                </div>
                            </div>
                            {{ step.label }}
                        </button>
                    </div>
                </li>
            </ng-container>
        </ul>
        
        <div *ngIf="selected">
            <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
        </div>
    </div>

</section>
