<section class="caixa-forms">
    <form #form="ngForm" class="needs-validation formulario " (submit)="send(form)">
    <!-- <form #form="ngForm" class="needs-validation formulario " > -->
        <div class="caixa-logo">
            <div class="texto-caixa-logo">
                <h1 class="titulo-banner">Para manter-se no topo, é preciso rapidez </h1>
                <img src="../../../../assets/img/Logo P&B MarketStories 2.png" alt="" class="logo-caixa">
            </div>
            <img src="../../../../assets/img/astronauta2 (2).png" alt="" class="imagem-astronauta">
        
        <div>
            <!-- <div class="space">
                <img src="../../../../assets/img/astronauta2 (2).png" alt="Astronauta" class="astronaut">
            </div> -->
        </div>
        
        </div>
        <div class="caixa-formulario">
            <!-- <h1 >Be</h1> -->
            <!-- <div class="img-formulario">
                <img src="../../../../assets/img/Logo Colorido MarketStories (1).png" alt="" class="logo-formulario">
            </div>
             -->
        <app-stepper [linearModeSelected]="false" [teste]="'fa-brands fa-instagram'" #appStepper>
            <cdk-step [label]="'Cadastro'"

            #step1>
                
                <div class="pessoal" style="padding-top:30px">
                    <i class="fa-solid fa-user"></i>
                    <!-- <div class="row form-group">
                        <h5 class="titulo-formulario">
                            Dados pessoais
                          
                        </h5>
                    </div> -->
                    <!-- <fa-icon [icon]="['fas','location-dot']"></fa-icon> -->
                    <div class="row d-flex align-item-center">
                        <div class="form-group col s12 m12" [ngClass]="{'has-success': name.valid}">
                            <label class="form-label">Qual seu nome? <span class="form-label-explicacao">Ele ficará visível nos layouts criados</span> <span class="text-danger">*</span> </label>
                            <div class="input-group">
                                <input  [(ngModel)]="clienteModel.name" class="form-control"
                                    name="name" id="name" #name="ngModel" required autocomplete="off" style="padding-left: 15px">
                                <span class="input-group-addon" [ngClass]="{'input-success': name.valid}">
                                    <i class="fas fa-check" *ngIf="name.valid"></i>
                                </span>
                            </div>
                            <div *ngIf="name.touched && name.errors">
                                <p class="text-danger" *ngIf="name.errors['required']">Este campo é obrigatório.</p>
                            </div>
                        </div>
                        
                    </div>
                <div class="row">
                    <div class="form-group col s12 m12">
                        <label class="form-label">E-mail <span class="text-danger">*</span> </label>
                        <input required type="text" class="form-control" [(ngModel)]="clienteModel.email" type="email"
                            class="form-control" email="email" id="email" name="email" #email="ngModel"
                            placeholder="example@hotmail.com" required style="padding-left: 10px ;">
                        <div *ngIf="email.touched && email.errors">
                            <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                            <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                        </div>
                    </div>
            </div>
        <div class="row">
           
            <div class="form-group col s12 m12">
                <label for="" class="form-label-explicacao">A senha será usada para acessar seu painel de assessor</label>
            </div>
            <div class="form-group col s12 m6">
                <label class="form-label">Senha <span class="text-danger">*</span></label>
                <input type="password" class="form-control" [(ngModel)]="primeiraSenha" #senha="ngModel"
                    name="senha" id="senha" [required]="primeiraSenha !== ''" autocomplete="off"
                    style="padding-left: 10px; " required>
                <div *ngIf="senha.touched && senha.errors">
                    <p class="text-danger" *ngIf="senha.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            
            <div class="form-group col s12 m6">
                <label class="form-label">Confirmar Senha <span class="text-danger">*</span></label>
                <input type="password" class="form-control" [(ngModel)]="usuariosModel.senha"
                    name="confirmarSenha" id="confirmarSenha" required autocomplete="off"  (input)="teste()"
                    style="padding-left: 10px; ">
                <div *ngIf="verdade">
                    <p class="text-danger">As senhas não coincidem.</p>
                </div>
            </div>
        </div>    
        </div>
                <div class="endereco" style="padding-top:30px">
                    <!-- <div class="row form-group">
                        <h5 class="titulo-formulario">
                            Endereço
                           
                        </h5>
                    </div> -->
                    <div class="row">
                        <div class="form-group col s12 m12 telefone-explicacao">
                            <label for="" class="form-label-explicacao ">O seu número de WhatsApp será utilizado para o envio dos stories</label>
                        </div>
                         <!-- <div class="form-group col  s12 m6">
                            <div class="caixa-btn-telefone">
                                <label class="form-label">Telefone </label>
                                <button pButton type="button" label="" class="btn-telefone"
                                    (click)="adicionarInput()"><label for="">Adicionar Telefone<fa-icon [icon]="['fas','plus']" class="icone-seta-plus"></fa-icon></label></button>
                            </div>

                            <div *ngFor="let input of inputs; let i = index" class="caixa-input-telefone">
                             
                                <input required type="text" name="phone{{i}}" id="phone{{i}}" class="form-control"
                                    placeholder="example@hotmail.com" [(ngModel)]="inputs[i].number"
                                    (blur)="atribuirValor()"  required mask="(00) 00000-0000" placeholder="(00) 00000-0000" style="padding-left: 10px; ">
                                <button pButton type="button" class="btn-excluir-telefone" 
                                    (click)="removerInput(i)"><fa-icon [icon]="['fas','trash']" class="icone-lixo"></fa-icon></button>
                            </div>
                        </div> -->
                        <!-- border: 1px solid #ccc; -->
                        <div class="form-group col s12 m4">
                            <label class="form-label">Número de WhatsApp <span class="text-danger">*</span> </label>
                            <div *ngFor="let input of inputs; let i = index" class="caixa-input-telefone">
                             
                            <input  type="text" name="phone{{i}}" id="phone{{i}}" class="form-control"
                            placeholder="example@hotmail.com" [(ngModel)]="inputs[i].number"
                            (blur)="atribuirValor()" mask="(00) 00000-0000" placeholder="(00) 00000-0000" style="padding-left: 10px; " required>
                            <!-- <div *ngIf="registry_code.touched && registry_code.errors">
                                <p class="text-danger" *ngIf="registry_code.errors['required']">Este campo é obrigatório.</p>
                            </div>    -->
                        </div>
                        
                   </div>
                       <div class="form-group col s12 m4">
                            <label class="form-label">CPF/CNPJ <span class="text-danger">*</span> </label>
                            <input required [(ngModel)]="clienteModel.registry_code" type="text" class="form-control"
                                registry_code="registry_code" id="registry_code" name="registry_code"
                                #registry_code="ngModel"    [mask]="getMask(clienteModel.registry_code)" style="padding-left: 10px; ">
                                <div *ngIf="registry_code.touched && registry_code.errors">
                                    <p class="text-danger" *ngIf="registry_code.errors['required']">Este campo é obrigatório.</p>
                                </div>
                        </div>
                        <div class="form-group col s12 m4">
                            <label class="form-label">CEP <span class="text-danger">*</span> </label>
                            <input required type="text" class="form-control " name="documento" id="documento"
                                #documento="ngModel" [(ngModel)]="cep" required #buscaCEP (blur)="blur($event)"
                                [(ngModel)]="cep" required f mask="00000-000" placeholder="00000-000" style="padding-left: 10px; ">
                                <div *ngIf="documento.touched && documento.errors">
                                    <p class="text-danger" *ngIf="documento.errors['required']">Este campo é obrigatório.</p>
                                </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="form-group col s12 m8">
                            <label class="form-label">Endereço <span class="text-danger">*</span> </label>
                            <input required type="text" #endereco="ngModel" [(ngModel)]="enderecoFormat"
                                class="form-control" name="endereco" id="endereco" ngModel required type="text" style="padding-left: 10px; ">
                                <div *ngIf="endereco.touched && endereco.errors">
                                    <p class="text-danger" *ngIf="endereco.errors['required']">Este campo é obrigatório.</p>
                                </div>
                        </div>
                        <div class="form-group col s12 m4">
                            <label class="form-label">Número </label>
                            <input required type="text" #documento="ngModel" [(ngModel)]="numero" class="form-control"
                                name="numero" id="numero" ngModel required type="text">
                                
                        </div>
                    </div>
                    <!-- <div class="row">
                 
                    <div class="form-group col s4">
                        <label class="form-label">Bairro</label>
                        <input required type="text" #documento="ngModel" [(ngModel)]="bairro"
                            class="form-control" name="bairro" id="bairro" ngModel required type="text">
                    </div>
            

                    <div class="form-group col s4">
                        <label class="form-label">Estado</label>
                        <input required type="text" #documento="ngModel" [(ngModel)]="uf"
                            class="form-control" name="uf" id="uf" ngModel required type="text">
                    </div>
                </div> -->
             

                <!-- <div class="telefone">
                    <div class="row form-group">
                        <h5 class="titulo-formulario">
                            Contato
                            
                        </h5>
                    </div>
                    <div class="row caixa-telefone">

                       
                    </div>
                </div> -->
                <!-- <div class="d-flex justify-content-between flex-row mb-5 mt-4" id="inicio"> -->
                 <div class="d-flex justify-content-between flex-row mb-5 mt-4 btns-caixa btn-avancar">
                    <!-- <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperPrevious>
                        <span>Voltar</span>
                        <fa-icon [icon]="['fas','chevron-left']" class="icone-seta"></fa-icon>
                    </button> -->

                    <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperNext >
                        <fa-icon [icon]="['fas','arrow-right']" class="icone-seta"></fa-icon>
                    </button>
                </div>
            </div>
            




            


        </cdk-step>

            <cdk-step [label]="'Instagram'" #step1>
                <div class="pessoal" style="padding-top:30px">
                    <div class="row form-group">
                        <!-- <h5 class="titulo-formulario">
                            Dados para pagamento
                            <fa-icon [icon]="['fas','money-check-dollar']"></fa-icon>
                        </h5> -->
                    </div>

                          
      
                
                        <div class="form-group col s12 m12 ">
                            <label class="form-label">Qual é o {{'@'}} do seu Instagram? <span class="form-label-explicacao ">Se não tiver um, como gostaria que fosse colocado?</span><span class="text-danger">*</span> </label>
                            <input type="text" class="form-control " [(ngModel)]="usuariosModel.usuario_instagram" type="text"
                                class="form-control" name="usuario_instagram" id="usuario_instagram" usuario_instagram="usuario_instagram" #usuario_instagram="ngModel" required="" autocomplete="off" style="padding-left: 10px; "> 
                                <div *ngIf="usuario_instagram.touched && usuario_instagram.errors">
                                    <p class="text-danger" *ngIf="usuario_instagram.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                            <!-- <div class="form-group col s12 m12">
                                <label class="form-label">Foto <span class="text-danger">*</span></label>


                                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control" name="foto__instagram" id="foto_instagram" required>
                               
                            </div> -->
                            <div  class="form-group col s12 m12 caixa-imagem">
                                <div class="form-group col s12 m12 telefone-explicacao">
                                    <label for="" class="form-label">Por favor, envie uma foto sua para que ela seja colocada no seu layout<span class="text-danger">*</span></label>
                                </div>
                                <div>

                                    <input type="file" id="fileInput" (change)="onFileSelected2($event)" style="display: none;">
                                    <label for="fileInput" class="custom-file-upload">
                                        Selecionar Imagem
                                    </label>
                                </div>

                                <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagem Selecionada" class="imagem-escolhida-instagram">
                            </div>
                            
                            <!-- <div class="form-group col s12 m12">
                                <label class="form-label">Senha <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" [(ngModel)]="primeiraSenha" #senha="ngModel"
                                    name="senha" id="senha" [required]="primeiraSenha !== ''" autocomplete="off"
                                    style="padding-left: 10px; ">
                                <div *ngIf="senha.touched && senha.errors">
                                    <p class="text-danger" *ngIf="senha.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                            
                            <div class="form-group col s12 m12">
                                <label class="form-label">Confirmar Senha <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" [(ngModel)]="usuariosModel.senha"
                                    name="confirmarSenha" id="confirmarSenha" required autocomplete="off"  (input)="teste()"
                                    style="padding-left: 10px; ">
                                <div *ngIf="verdade">
                                    <p class="text-danger">As senhas não coincidem.</p>
                                </div>
                            </div> -->


          

                <div class="d-flex justify-content-between flex-row mb-5 mt-4  btns-caixa">
                    <div class="btns-arrow">
                        <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperPrevious>
                            <!-- <span>Voltar</span> -->
                            <fa-icon [icon]="['fas','arrow-left']" class="icone-seta"></fa-icon>
                        </button>
    
                        <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperNext > 
                            <!-- <span>Criar</span> -->
                            <fa-icon [icon]="['fas','arrow-right']" class="icone-seta"></fa-icon>
                        </button>
                    </div>
             

               
                </div>
            </div>
            </cdk-step>

            <cdk-step [label]="'Produto'" #step1>
                <div class="pessoal" style="padding-top:30px">
                    <div class="row form-group">
                        <!-- <h5 class="titulo-formulario">
                            Dados para pagamento
                            <fa-icon [icon]="['fas','money-check-dollar']"></fa-icon>
                        </h5> -->
                    </div>
        
                    <div class="row">
                        <div class="pagamento-caixa">
                            <div class="form-group col s12 dropDown">
                                <label class="form-label" for="">Método de pagamento <span class="text-danger">*</span>  </label>
                                <p-dropdown [options]="pay" optionLabel="name" optionValue="code"
                                    [(ngModel)]="perfilModel.payment_method_code" type="paymemnt_method_code"
                                    class="form-control drop" paymemnt_method_code="paymemnt_method_code" id="paymemnt_method_code" name="paymemnt_method_code"
                                    #paymemnt_method_code="ngModel" placeholder="Selecione um método" id="drops" required></p-dropdown>
                                    <div *ngIf="paymemnt_method_code.touched && paymemnt_method_code.errors">
                                        <p class="text-danger" *ngIf="paymemnt_method_code.errors['required']">Este campo é obrigatório.</p>
                                    </div>
                                </div>
                                
                            <!-- <div *ngIf="mostrarBotao()"> -->
                            <div *ngIf="mostrarBotao()">
                                <div class="row" >
                                    <div class="form-group col s12 m8">
                                        <label class="form-label">Nome <span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control "
                                            [(ngModel)]="perfilModel.holder_name" class="form-control" name="email"
                                            id="email" #nomeCartao="ngModel" style="padding-left: 10px; ">
                                            <div *ngIf="nomeCartao.touched && nomeCartao.errors">
                                                <p class="text-danger" *ngIf="nomeCartao.errors['required']">Este campo é obrigatório.</p>
                                            </div>
                                    </div>
                                    <div class="form-group col s12 m4">
                                        
                                        <label class="form-label">Número do cartão <span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control "
                                            [(ngModel)]="perfilModel.card_number" type="text" class="form-control"
                                            name="card_number" id="card_number" #card_number="ngModel" placeholder="0000 0000 0000 0000" style="padding-left: 10px; ">
                                            <div *ngIf="card_number.touched && card_number.errors">
                                                <p class="text-danger" *ngIf="card_number.errors['required']">Este campo é obrigatório.</p>
                                            </div>
                                    </div>
                                  
                                </div>
                                <div class="row">
                                    <div class="form-group col s12 m4">
                                        <label class="form-label">Validade do cartão <span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control "
                                            [(ngModel)]="perfilModel.card_expiration" type="text"
                                            class="form-control" name="card_expiration" id="card_expiration"
                                            #card_expiration="ngModel"  mask="00/00" placeholder="00/00" style="padding-left: 10px; ">
                                            <div *ngIf="card_expiration.touched && card_expiration.errors">
                                                <p class="text-danger" *ngIf="card_expiration.errors['required']">Este campo é obrigatório.</p>
                                            </div>
                                    </div>
                                    <div class="form-group col s12 m4 ">
                                        <label class="form-label">CVV <span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control " [(ngModel)]="perfilModel.card_cvv"
                                            class="form-control" name="card_cvv" id="card_cvv" #card_cvv="ngModel" mask="000" placeholder="000">
                                            <div *ngIf="card_cvv.touched && card_cvv.errors" style="padding-left: 10px; ">
                                                <p class="text-danger" *ngIf="card_cvv.errors['required']">Este campo é obrigatório.</p>
                                            </div>
                                    </div>
                                    <div class="form-group col s12 m4">
                                        <label class="form-label">Bandeira <span class="text-danger">*</span>  </label>
                                        <p-dropdown [options]="bandeiras" 
                                        [(ngModel)]="perfilModel.payment_company_code" type="text"
                                        class="form-control drop" metodo="metodo" id="metodo" name="metodo"
                                        #payment_company_code="ngModel" placeholder="Selecione uma bandeira" id="drops" required></p-dropdown>
                                  
                                        <div *ngIf="payment_company_code.touched && payment_company_code.errors">
                                            <p class="text-danger" *ngIf="payment_company_code.errors['required']">Este campo é obrigatório.</p>
                                        </div>
<!-- 
                                        <input type="text" class="form-control "
                                            [(ngModel)]="perfilModel.payment_company_code" class="form-control"
                                            name="payment_company_code" id="payment_company_code"
                                            #payment_company_code="ngModel"> -->
                                   
                                       
                                        </div>
                                      
                                    </div>
                                  
                                <!-- 
                    <div class="caixa-txt">
                        <label for="">Nome</label>
                        <input [(ngModel)]="cartaoModel.holder_name" type="text" class="form-control" email="email"
                            id="email" name="email" #email="ngModel" value="5555 5555 5555 5557">
                    </div>
                    <div class="caixa-txt">
                        <label for="">Validade</label>
                        <input [(ngModel)]="cartaoModel.card_expiration" type="card_expiration" class="form-control"
                            card_expiration="card_expiration" id="card_expiration" name="card_expiration"
                            #card_expiration="ngModel" value="5555 5555 5555 5557">
                    </div>
                    <div class="caixa-txt">
                        <label for="">Codido de seguranca</label>
                        <input [(ngModel)]="cartaoModel.card_cvv" type="card_cvv" class="form-control"
                            card_cvv="card_cvv" id="card_cvv" name="card_cvv" #card_cvv="ngModel"
                            value="5555 5555 5555 5557">
                    </div>
                    <div class="caixa-txt">
                        <label for="">Bandeira</label>
                        <input [(ngModel)]="cartaoModel.payment_company_code" type="payment_company_code"
                            class="form-control" payment_company_code="payment_company_code"
                            id="payment_company_code" name="payment_company_code" #payment_company_code="ngModel"
                            value="5555 5555 5555 5557">
                    </div> -->
                            </div>


                        </div>

                    </div>
                    <div class="row">
                     
                            <div class="form-group col s12 dropDown">
                                <label class="form-label" for="">Plano <span class="text-danger">*</span> </label>
                                <p-dropdown [options]="plans" optionLabel="name" optionValue="id"
                                    [(ngModel)]="assinaturaModel.plan_id" 
                                    class="form-control drop" plan_id="plan_id" id="plan_id" name="plan_id"
                                    #plan_id="ngModel" placeholder="Selecione um método" id="drops" required  ></p-dropdown>
                                    <div *ngIf="plan_id.touched && plan_id.errors">
                                        <p class="text-danger" *ngIf="plan_id.errors['required']">Este campo é obrigatório.</p>
                                    </div>
                                </div>
                 
                    </div>
                    <div class="form-group col s12 m12 caixa-aviso-pagamento">
                        <label for="" class="form-label-explicacao ">Após a realização do pagamento, a próxima cobrança será efetuada após um período de dez dias. Esta medida visa proporcionar maior comodidade e flexibilidade em sua experiência conosco.</label>
                    </div>

                </div>
                <div class="d-flex justify-content-between flex-row mb-5 mt-4  btns-caixa">
                    <div class="btns-arrow">
                        <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperPrevious>
                            <!-- <span>Voltar</span> -->
                            <fa-icon [icon]="['fas','arrow-left']" class="icone-seta"></fa-icon>
                        </button>
    
                        <button class="me-0 ms-auto prox-btn btn-stepper" type="submit" cdkStepperNext > 
                            <!-- <span>Criar</span> -->
                            <fa-icon [icon]="['fas','check']" class="icone-seta"></fa-icon>
                        </button>
                    </div>
             

               
                </div>
            </cdk-step>
        </app-stepper>
    </div>
    </form>

 


</section>
<router-outlet></router-outlet>