<section class="painel-usuario">
    <div class="header-painel-usuario">
        <div class="imagem-usuario">
            <img src="../../../../../assets/img/Logo Colorido MarketStories (1).png" alt="" class="logo-caixa">
        </div>
        <div class="final-usuario">
            <div class="usuario-fale-conosco">
                
                <a href="https://wa.link/sdbmic">Fale conosco</a>
            </div>
            <div class="usuario-sair">
                <a href=""><fa-icon [icon]="['fas','arrow-right-from-bracket']" ></fa-icon> Sair</a>
                
            </div>
        </div>  
    </div>
    <div class="container-painel">
        <div class="titulo-painel">
            <h1 class="titulo-usuario">Olá, {{objeto?.customer.name}}! Bem vindo de volta!</h1>
            <h2 class="subtitulo-usuario">Aqui são armazenadas as informações do seu plano</h2>
        </div>
        <div class="caixas-painel">
            <!-- <ul class="lista-painel">

            </ul> -->

            <div class="container-caixa-painel primeira-caixa-painel">
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                    <h3 class="titulo-caixa-painel">Seu plano:</h3>
                    <p class="texto-caixa-painel">{{objeto?.plan.name}}</p>
                </div>
            </div>
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                    <h3 class="titulo-caixa-painel">Seu e-mail:</h3>
                    <p class="texto-caixa-painel">{{objeto?.customer.email}}</p>
                </div>
            </div>
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                    <h3 class="titulo-caixa-painel">Seu  {{'@'}} do instagram:</h3>
                    <p class="texto-caixa-painel">teste</p>
                </div>
            </div>
            </div>
            <div class="container-caixa-painel segunda-caixa-painel">
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                    <h3 class="titulo-caixa-painel">Assessor desde:</h3>
                    <p class="texto-caixa-painel">23/04/2024</p>
                </div>
            </div>
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                    <h3 class="titulo-caixa-painel">Sua foto de perfil:</h3>
                    <p class="texto-caixa-painel">Market Stories | Plano Standard</p>
                </div>
            </div>
                <div class="caixa-painel">
                    <div class="escrito-caixa-painel">
                        <h3 class="titulo-caixa-painel">Seu nome no instagram:</h3>
                        <p class="texto-caixa-painel">Ana Carolina</p>
                    </div>
                  
                </div>
            </div>
            <div class="container-caixa-painel ">
            <!-- <div class="container-caixa-painel segunda-caixa-painel"> -->
                <div class=" caixa-painel terceira-caixa-painel">
                    <div class="escrito-caixa-painel">
                        <h3 class="titulo-caixa-painel">Modelo do seu layout:</h3>
                        
                    </div>
                    <div class="imagem-caixa-mockup">
                        <img src="../../../assets/img/urgenteP.png" alt="" class="imagem-caixa-painel">
                    </div>
                   
                  
                </div>
<!-- 
                <div class="caixa-painel-mockup">
                    <div class="escrito-caixa-painel">
                        <h3 class="titulo-caixa-painel">Modelo do seu layout:</h3>
                        <div class="imagem-caixa-mockup">
                            <img src="../../../assets/img/urgenteP.png" alt="" class="imagem-caixa-painel">
                        </div>
                    </div>
                    
                </div> -->
            </div>
        </div>
    </div>
</section>
