
@import "../../../../../../node_modules/primeng/resources/themes/saga-blue/theme.css"; 
@import "../../../../../../node_modules/primeng/resources/primeng.min.css"; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.teste123{
    max-width: 10%;
}

.teste123{
    max-width: 10%;
}
.tabela {
    padding: 2em;
 
}

h1.titulo-tabela {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-bottom: 1em;
}

.img-tabela img{
    width: 52%;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;

}

td{
    padding: 2em 0!important
} */

.teste{

    width: 100%!important;

    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}