<!-- <div *ngIf="usuarios">
    <h2>Lista de Usuários:</h2>
    <ul>
      <li class="teste123" *ngFor="let usuario of usuarios">
        <a href="">{{ usuario.foto_instagram }}</a>
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Lista de Usuários com Template PrimeNG:</h2>
    <ul>
      <li class="teste123" *ngFor="let usuario of usuarios">
        <a href="javascript:void(0);" (click)="redirecionarParaInstagram(usuario.foto_instagram)">imagem</a>
        <ng-template pTemplate="item" let-usuario>
          <div>{{usuario.nome}}</div>
          <div>{{usuario.email}}</div>
       
        </ng-template>
      </li>
    </ul>
  </div>
   -->

<div class="tabela">
  
<h1 class="titulo-tabela">Dados dos usuários da <span class="img-tabela"><img src="../../../../../assets/img/logo.png" alt=""></span></h1>
  <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Usuário</th>
            <th>Telefone</th>
            <th>Imagem</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuarios>
        <tr>
            <td>{{ usuarios.nome }}</td>
            <td>{{ usuarios.email }}</td>
            <td>{{ usuarios.usuario_instagram }}</td>
            <td>{{ usuarios.telefone }}</td>
        <td><a href="javascript:void(0);" (click)="redirecionarParaInstagram(usuarios.foto_instagram)">imagem</a></td>
        </tr>
    </ng-template>
    <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="rows" 
    [totalRecords]="120" 
    [rowsPerPageOptions]="[10, 20, 30]" />
  </p-table>

</div>


