<form #form="ngForm" class="needs-validation formulario " (submit)="send(form)">
    <!-- <form #form="ngForm" class="needs-validation formulario " > -->

    <div class="caixa-formulario">
   
        <div class="row d-flex align-item-center">
            <!-- <div class="form-group col s12 m12 ">
                <label class="form-label">Email <span class="text-danger">*</span> </label>
                <input type="text" class="form-control " [(ngModel)]="usuariosModel.email" type="text"
                    class="form-control" name="email" id="email" email="email" #email="ngModel" required="" autocomplete="off" style="padding-left: 10px; border: 1px solid #ccc;"> 
                    <div *ngIf="email.touched && email.errors">
                        <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div> -->
                <div class="form-group col s12 m12 ">
                    <label class="form-label">Nome <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control " [(ngModel)]="usuariosModel.nome" type="text"
                        class="form-control" name="nome" id="nome" nome="nome" #nome="ngModel" required="" autocomplete="off" style="padding-left: 10px; border: 1px solid #ccc;"> 
                        <div *ngIf="nome.touched && nome.errors">
                            <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group col s12 m12 ">
                        <label class="form-label">usuario <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control " [(ngModel)]="usuariosModel.usuario_instagram" type="text"
                            class="form-control" name="usuario_instagram" id="usuario_instagram" usuario_instagram="usuario_instagram" #usuario_instagram="ngModel" required="" autocomplete="off" style="padding-left: 10px; border: 1px solid #ccc;"> 
                            <div *ngIf="usuario_instagram.touched && usuario_instagram.errors">
                                <p class="text-danger" *ngIf="usuario_instagram.errors['required']">Este campo é obrigatório.</p>
                            </div>
                        </div>
                        <div class="form-group col s12 m12">
                            <label class="form-label">Foto <span class="text-danger">*</span></label>
                            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control" name="foto__instagram" id="foto_instagram" required>
                            <!-- <div *ngIf="foto_instagram.touched && foto_instagram.errors">
                                <p class="text-danger" *ngIf="foto_instagram.errors['required']">Este campo é obrigatório.</p>
                            </div> -->
                        </div>
                        
                        <div class="form-group col s12 m12">
                            <label class="form-label">Senha <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" [(ngModel)]="primeiraSenha" #senha="ngModel"
                                name="senha" id="senha" [required]="primeiraSenha !== ''" autocomplete="off"
                                style="padding-left: 10px; border: 1px solid #ccc;">
                            <div *ngIf="senha.touched && senha.errors">
                                <p class="text-danger" *ngIf="senha.errors['required']">Este campo é obrigatório.</p>
                            </div>
                        </div>
                        
                        <div class="form-group col s12 m12">
                            <label class="form-label">Confirmar Senha <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" [(ngModel)]="usuariosModel.senha"
                                name="confirmarSenha" id="confirmarSenha" required autocomplete="off"  (input)="teste()"
                                style="padding-left: 10px; border: 1px solid #ccc;">
                            <div *ngIf="verdade">
                                <p class="text-danger">As senhas não coincidem.</p>
                            </div>
                        </div>
                        
                            
        </div>



    </div>
    <button type="submit">enviar</button>
</form>
<router-outlet></router-outlet>