.footer {

    background: #0D0611;
}


img.img-logo-footer {
    width: 40%;
}

.txt-footer{
    color: white;
}

.caixa-conteudo-footer {
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

ul.lista-links-footer,
ul.lista-redes-footer {
    list-style: none;
    padding-left: 0;
}


ul.lista-redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.item-rede-footer {
    /* height: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;

}

img.img-rede {
    width: 80%;
}

a.link-footer {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

li.item-link-footer {
    padding: 0.5em 0;
}

.link-top{
   
}

.link-top a {
    color: white;
    text-decoration: none;
    font-size: 40px;
  
  }
  
  
  .link-on {
    /* padding: 20px; */
    background-color: #25D366;
    /* min-width: 20px; */
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    /* padding: 20px; */
    transition: all 0.2s;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 6px #0000004f;
  }
  
  .link-on:hover {
    background-color: red;
    background-color: var(--azul-claro);
    transform: scale(1.1);
    background-color: #1985ce;
  }
  

  @media screen and (min-width: 250px) {
    img.img-logo-footer-mobile {
        width: 73%;
    }
li.item-link-footer-mobile {
    margin: 0 1em;
}
    .caixa-mobile-redes{
        justify-content: center!important;
    }

    .footer-desktop{
        display: none!important;
    }
    .redes-footer-desktop{
        display: none;
    }
    .logo-footer{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        margin-left: -2em;
    }
    .links-footer {
        margin: 1em 0;
    }
    p.texto-footer {
        display: none;
    }
    .conteudo-footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0em 0em 7em 0em;
        width: 90%;
    }
    ul.lista-links-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer {
        margin-top: -3em;
          background: #0D0611;
      }
    a.link-footer {
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 2em 0;
    }

    img.img-logo-footer{
        width: 25%;
    }

/*     

    .link-item-header {
        color: white;
        transition: background-color 0.7s ease;
        font-size: 31px;
        margin: 0 0.5em;
    } */

    p.txt-origem-footer {
        color: white;
        margin-top: -2em;
        width: 30%;
        text-align: center;
    }

   
  }

 .origem-footer-mobile{
        text-align: end;
        width: 40%;
    }


  @media screen and (min-width: 1040px) {

.footer-mobile{
    display: none!important;
}
   
    .footer-desktop{
        display: block!important;
    }

    .origem-footer {
        display: flex;
        flex-flow: column;
        justify-content: end;
        align-items: end;
    }
    p.txt-origem-footer {
        color: white;
        margin-top: -2em;
        width: 30%;
        text-align: end;
    }

    img.img-origem-footer {
        width: 10%;
    }
    .termos-footer {
        display: flex;
        align-items: center;
    }

    .caixa-conteudo-footer.caixa-conteudo-footer2 {
        padding-top: 1em;
        border-top: 0.05px solid rgba(255, 255, 255, 0.37);
       
    }
    
    .redes-footer-mobile{
        display: none!important;
    }
    .redes-footer-desktop{
        display: block;
    }
    /* .link-item-footer{
        color: white;
        transition: background-color 0.7s ease;
        font-size: 26px;
        margin: 0 0.5em;
      } */

    .logo-footer {
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: start;
        text-align: start;
        width: 30%;
        color: white;
    }
    p.texto-footer {
        display: block;

    }
    /* .conteudo-footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 4em 1em;
        width: 90%;
    
    } */

    ul.lista-links-footer {
        display: block;
    }

    .footer {
        margin-top: 5em;
          background: #0D0611;
      }

    ul.lista-redes-header {
        display: flex;
        justify-content: center;
        padding: 1em 0;
    }
    

  }

@media screen and (min-width: 1040px) {
    /* ul.lista-redes-footer {
        display:block
    } */

   .conteudo-footer {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 3em 1em;
        align-items: center;
    } 


    ul.lista-links-footer {
        display: flex;
        /* padding: 1em; */
    }



    /* .conteudo-footer:nth-child(odd) {
        align-items: flex-end;
    } */


    .links-footer, .redes-footer{
        align-self: center;
    }    



    li.item-link-footer{
        padding: 0.5em 1em;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.form > button{
    color: red!important;
}