/* .jornal{
    display: none;
} */


.caixas-assessor-video-flex-jornal-jornal {
    position: relative;
    width: 100%!important;
    width: auto;
    margin: auto;
}
/* .caixas-assessor-video-flex-jornal img {

} */

.caixa-filas-jornais2 {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    /* position: absolute; */
    bottom: 0;
}


img.img-jornal-mockup {
    position: absolute;
    right: 0;
    bottom: 0;
}

.caixa-teste{
    background-image: url('../../../../assets/img/novo.png');
    width: 100%;
    height: auto;
    display: block;
}

/* .active-jornal {
    border-bottom: 2px solid;
    border-color: #4bb9ec;

} */


.active-jornal {
    position: relative;
    overflow: hidden;
}

.active-jornal::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #4bb9ec;
    animation: slideIn 1s ease forwards;
    border-radius: 0.5em;
}

.active-jornal a {
    position: relative;
    z-index: 1;
    color: inherit;
    text-decoration: none;
    color: white;
}

@keyframes slideIn {
    to {
        width: 100%;
    }
}



.caixas-assessor-flex {
    width: 50%;
}

.caixas-assessor-video-flex-jornal video{
    position: absolute;
    top: 0;
    left: 0;
    top: 4em;
    left: 5.6em;
    height: 85%;
    object-fit: cover;
    border-radius: 10px 10px 20px 20px;
    /* z-index: -99; */
    max-width: 376px;
}


.caixas-assessor-video-flex-jornal video {
    position: absolute;
    top: 0;
    left: 0;
    top: 2.5em;
    left: 3.4em;
    height: 85%;
    object-fit: cover;
    border-radius: 1px 1px 20px 20px;
    /* max-width: 333px; */
    width: 230px;
}

.mockup-celular-jornal{
    max-width: 304px;
}






  .play-button:focus {
    opacity: 0;
   
  }



   
  .play-button:hover {
  background-color: #f0f0f0bb;
  }


  svg.svg-inline--fa.fa-play {
    font-size: 22px;
}


.caixas-assessor-video-flex-jornal {
    position: relative;
    width: auto !important;
    margin: auto;
    display: flex;
    z-index: 10;
    justify-content: center;
}







.imagens-jornal {
    /* padding-bottom: 3em; */
    z-index: 1; /* Certifique-se de que a z-index é menor do que a do vídeo */
    position: relative;
    /* background: linear-gradient(to top, #110324 77%, #0f9ddf 50%); */
}

.container-titulo-jornal {
    margin: 4em 0 0 0!important;
}

/* .caixa1-titulo {
    padding: 4em 0;
} */
/* .caixa-lista-jornal {
    position: absolute;
    bottom: 4em;
    left: 6em;
    z-index: 2; 
} */

h1.titulo-lista-jornal{
    color: white;
    /* width: 68%; */
    font-size: 32px;
    font-weight: 400;
}

li.item-jornal {
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 0.6em 0;
    opacity: 90%;
    display: flex;
    align-items: center;
}


span.icone-jornal {
    margin-top: 0.3em;
    margin-right: 0.5em;
}


p.texto-lista-jornal {
    opacity: 90%;
    color: white;
    margin: 1em 0 1em 0px;
    font-size: 20px;
    font-weight: 300;
    /* width: 65%; */
}

.caixa-acao-jornal {
    text-align: end;
    width: 50%;
    margin: 0 3em 2em 3em;
    color: white;
}

h1.titulo-acao-jornal {
    margin-bottom: 0.5em;
}

h1.titulo-jornal {
    color: #ffffff!important;
    font-weight: 800;
 
    text-align: center;
}

.caixa1-titulo{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.caixa-primeiro{

    /* background: linear-gradient(to top, #110324 77%, #0f9ddf 50%); */
    background: #0f9ddf;
}


.caixa-lista-jornal {
    padding-top: 3em;
}

.caixa-lista-jornal {
    width: 50%;
    margin: 0 3em 2em 3em;
}

.caixa2-overlay-jornal {
    display: flex;
    margin-top: -13em;
}


/* .titulo-jornal {
    display: flex;
    align-items: center;
} */


h1.titulo-jornal {
    color: #0FA0E2;
    font-weight: 800;
    font-size: 138px;
}

p.titulo-texto-jornal {
    font-size: 20px;
    margin-left: 1em;
}

.caixa2-titulo, .caixa1-titulo{
    display: flex;
    align-items: start;
}

.titulo2-jornal{
    color: #20093A!important;
}

.logo-jornal{
    margin-right: 1em;
}
.container-titulo-jornal {
    margin: 4em 0 3em 0;
}

/* 
.caixa-acao-jornal {
    position: absolute;
    top: 22em;
    right: 2em;
    text-align: end;
    color: white;
} */

.container-jornal-cont {
    display: flex;
    justify-content: space-;
}


h1.titulo-acao-jornal {
    font-weight: 600;
}
.ativo{
    opacity: 100%!important;
}


@media screen and (min-width:200px) {

    .btn-assessos-acao{
        display: none!important;
    }

    button.play-button.btn-jornal {
        right: 6.5em;
    }
    .imagem-video-assessores-fundo{
        position: absolute;
        top: 32px;
        left: 43px;
        height: 85%;
        object-fit: cover;
        border-radius: 1px 1px 20px 20px;
        width: 196px;
        z-index: -9;
      
    }

    /* .play-button{
        display: none;
    } */

    p.texto-jornal {
        color: white;
        font-weight: 600;
        margin-bottom: 3em;
        padding-top: -3em;
    }

   

    button.play-button {
        position: absolute;
        top: 16em;
        right: 6.2em;
        z-index: 1000;
        border: none;
        padding: 1.8em 2em;
        border-radius: 6em;
    }

    button.play-button.btn-assessos-acao {
        position: absolute;
        top: 14em;
        right: 6.4em;
        z-index: 1000;
        border: none;
        padding: 1.8em 2em;
        border-radius: 6em;
    }

    .caixa-btn-jornal {
        display: block;
        text-align: center;
    }

    h1.titulo-jornal {
        text-align: start !important;
        padding: 2em 0;
    }

    .caixa-segundo {
        flex-flow: column-reverse;
    }
    .caixa-acao-jornal{
        display: none;
    }

    .slides-jornal{
        display: block;
    }

    .caixa-filas-jornais2 {
        display: none !important;
    }
    img.logo-jornal {
        width: 18%;
        margin: 0;
    }
    .caixa-acao-jornal {
        display: none;
    }

    .container-jornal-cont{
        display: flex;
        flex-flow: column-reverse;
     
    }

    .mockup-celular-jornal{
      
        width: 261px;
    }

    p.texto-jornal {
        margin-left: 0.5em;
    }

    h1.titulo-jornal{
        text-align: start !important;
        padding: 1em 0 0.5em 0;
    }
    

.caixas-assessor-video-flex-jornal video {
    opacity: 0%;
    position: absolute;
    top: 2.3em;
    left: 3em;
    height: 84%;
    object-fit: cover;
    border-radius: 1px 1px 20px 20px;
    width: 198px;
    z-index: 999;
    opacity: 0%;
}


.caixa2-overlay-jornal{
    display: flex;
    margin-top: -7em;
    margin-right: 1em;
}

.slide-jornal img{
    width: 75%;
}

.caixa-lista-jornal {
    width: 92%;
    /* margin: 0 0em 2em 3em; */
    margin-left: 1em;
    padding-bottom: 3em;
}

h1.titulo-jornal {
    font-size: 27px;
    margin: 0 0.2em!important;
}
}  

.titulo-jornal-flex{
    display: flex;
    align-items: center;
}

img.logo-jornal {
    width: 7%!important;
    margin-left: 0.4em !important;
}

.caixa-segundo {
    background: #110324;
    display: flex;
    /* justify-content: center; */
}

img.img-jornal-mockup {
    width: 30%;
}

.caixa-titulo2{
    padding: 1em 0;
}

.play-button{
    display: block;
}

button.play-button {
    position: absolute;
    top: 16em;
    right: 6.8em;
    z-index: 1000;
    border: none;
    padding: 1.8em 2em;
    border-radius: 6em;
}
button.play-button.btn-jornal {
    z-index: 9999;
    background-color: red;
}
@media screen and (min-width:900px) {

    .btn-assessos-acao{
        display: block;
    }


    button.play-button.btn-jornal {
        right: 6.8em;
    }

    .imagem-video-assessores-fundo{
       
        display: none;
    }

    
    
  
    p.texto-jornal {
        width: 57%;
        padding-top: 1em;
    }

    p.texto-jornal {
        color: white;
        font-weight: 500;
        font-size: 20px;
        margin-left: 1em;
    }


    
  button.play-button.btn-assessos-acao {
    position: absolute;
    top: 20em;
    right: 9.5em;
    z-index: 1000;
    border: none;
    padding: 1.8em 2em;
    border-radius: 6em;
}

    .caixa-btn-jornal {
        display: none;
       
    }
    h1.titulo-jornal {
        text-align: start !important;
        padding: 0!important;
    }
    li.jornais {
        margin: 0 4px;
    }

    .caixa-segundo {
        flex-flow: row;
    }

    .caixa-acao-jornal{
        display: block;
    }

    .slides-jornal{
        display: none;
    }
    
    .caixa-filas-jornais2 {
        display: flex!important;
    }
    .jornal{
        margin-top: 4em;
    }
    .caixa1-titulo {
        padding-top: 4em;
    }

    .caixa-primeiro{
        height: 70vh;
        position: relative;
    }
    .caixa-filas-jornais {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 0;
    }
    .jornais img {

     width: 100%;
    }

    ul.fila {
        display: flex;
    }

    .fila-jornais {
 
        width: 69%;
    }

    img.logo-jornal {
        width: auto;
       
    }

    h1.titulo-jornal{
        color: #ffffff !important;
        font-weight: 800;
        font-size: 70px;
        text-align: start;
        width: 57%;
    }
    .caixa-lista-jornal{
        width: 50%;
        margin: 0 3em 2em 3em;
    }
    .slide-jornal img{
        width: 100%;
    }
    .caixa2-overlay-jornal {
        display: flex;
        margin-top: -13em;
        margin-right: 0;
    }

    .caixas-assessor-video-flex-jornal video {
        opacity: 100%;
        position: absolute;
        top: 2.5em;
        left: 3.4em;
        height: 85%;
        object-fit: cover;
        border-radius: 1px 1px 20px 20px;
        width: 230px;
        z-index: 999; /* Certifique-se de que o vídeo esteja acima de todos os elementos */
    }

    .caixa-acao-jornal {
        display: block;
    }

    .container-jornal-cont{
        display: flex;
        flex-flow: row;
     
    }

    
    .mockup-celular-jornal{
        max-width: 304px;
        min-width: 304px;
    }

    /* .caixa-acao-jornal {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    } */
/* 
    .caixa-acao-jornal {
        display: block;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

  */
        .caixa-acao-jornal {
            display: block;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            text-align: start;
            font-size: -2px;
        }

        h1.titulo-acao-jornal {
            font-size: 35px;
        }


        .btn-associar{
            background: #4BB9EC;
            color: white;
            border: none;
            border-radius: 40px;
            padding: 1em!important;
            font-size: 18px;
            margin-left: 1em;
        }

        h1.titulo-acao-jornal {
            margin-bottom: 0 !important;
        }
}

.custom-video {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
}

.custom-video::-webkit-media-controls {
    display: none;
}

.custom-video::before {
    content: "\25B6"; /* Unicode character for play icon */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 10;
    pointer-events: none;
    display: none;
}

.custom-video.paused::before {
    display: block;
}


h1.titulo-lista-jornal{
    color: white;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

p.texto-lista-jornal {
    text-align: center;
}

li.item-jornal{
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 0.6em 0;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caixa-titulo2 {
    padding: 2em 0 0em 0.5em;
}