<div class="caixa-final">
  <!-- <div class="caixa-img-final">
    <img src="../../../../../assets/img/Logo" alt="" class="img-final">
  </div> -->
  
  
  <div class="txts-final">
    <h1 class="titulo-final">Obrigado por sua Compra!</h1>
    <p class="txt-final1">Seu produto será ativado em até 24 horas.</p>
    
    <p class="txt-final2">Seus primeiros layout serão enviados via whats em até 24 horas.</p>

    <p class="txt-final2 txt-final2Btn">Qualquer dúvida só falar com nosso suporte!</p>
<div class="caixa-btn-suporte">
  <a href="https://wa.link/xyffod" class="btn-suporte">Falar com suporte   <fa-icon
    [icon]="['fab','whatsapp']" class="whats-suporte"></fa-icon></a>

 
</div>
    


  </div>
  
</div>
<router-outlet></router-outlet>