<div class="caixa-final">
  <!-- <div class="caixa-img-final">
    <img src="../../../../../assets/img/Logo" alt="" class="img-final">
  </div> -->
  
  
  <div class="txts-final">
    <h1 class="titulo-final">Obrigado por sua Compra!</h1>
    <p class="txt-final">Agradecemos por escolher nossos produtos/serviços e
      por confiar em nossa empresa para suas necessidades. Seu pagamento foi processado com sucesso e sua transação foi
      concluída com êxito!</p>
    
    <p class="txt-secundario-final">Gostaríamos de informar que você agora tem acesso total aos nossos recursos e serviços. Como parte de nossa oferta especial, você desfrutará de um período gratuito de 10 dias para explorar e utilizar nossos produtos ao máximo.</p>
  </div>
  
</div>
<router-outlet></router-outlet>