<!-- <div class="feed">
    <img src="../../../assets/img/mockup-feed (2).png" alt="" class="lead4">
  
        <div class="carousel carrossel-lead" data-num-visible="4">
       
            <a class="carousel-item no-opacity carousel-lead " href="#one!"> <img
                    src="../../../assets/img/Fechamento da Semana Altas.png" alt=""></a>
            <a class="carousel-item no-opacity carousel-lead " href="#one!"> <img
                    src="../../../assets/img/Fechamento da Semana Baixas.png" alt=""></a>
            <a class="carousel-item no-opacity carousel-lead " href="#one!"> <img
                    src="../../../assets/img/Fechamento da Semana Moedas.png" alt=""></a>
        </div>
    
    
</div> -->


<!-- 
                    
<ngx-countup [startVal]="valorInicial" [endVal]="valorFinal" [options]="opcoes"></ngx-countup> -->

<header class="header">
    <div class="menu-desktop">
        <div class="conteudo-header">
            <img src="../../../assets/img/Logo Colorido MarketStories (1).png" alt="" class="logo-header">
            <img src="../../../assets/img/Logo P&B MarketStories.png" alt="" class="logo-header-pb">
            <div class="item-header">
                <ul class="lista-links-header">

                    <li class="item-link-header"><a class="link-header" href="#quem-somos">O que é</a></li>
                    <li class="item-link-header"><a class="link-header" href="#precos">Features</a></li>
                    <li class="item-link-header"><a class="link-header" href="#testemunhas">Assessores</a></li>
                    <!-- <button class="btn-associar-header"  routerLink="pagamento">Be MktStories</button> -->

                    <!-- <a href="https://form.typeform.com/to/Ar82twrP" class="link-item-header"><fa-icon
                        [icon]="['fab','instagram']"></fa-icon></a> -->


                    <!-- <button class="btn-associar-header"><a href="https://form.typeform.com/to/Ar82twrP"></a></button> -->

                    <button class="btn-associar-header"> <a href="https://form.typeform.com/to/Ar82twrP">Be
                            MktStories</a></button>
                </ul>

            </div>




            <ul class="lista-redes-header">
                 <!-- <button class="btn-associar-header"  routerLink="login">Be MktStories</button> -->
                <!-- <li><a  routerLink="//login">Minha conta</a></li> -->
                <li class="item-rede-footer">
                    <a href="https://www.instagram.com/marketstories.pro/" class="link-item-header"><fa-icon
                            [icon]="['fab','instagram']"></fa-icon></a>
                </li>
                <li class="item-rede-footer">
                    <a href="https://www.linkedin.com/company/marketstories" class="link-item-header"><fa-icon
                            [icon]="['fab','linkedin']"></fa-icon></a>
                </li>
                <li class="item-rede-footer">
                    <a href="https://twitter.com/mktstories" class="link-item-header"><fa-icon
                            [icon]="['fab','twitter']"></fa-icon></a>
                </li>
                <li class="item-rede-footer">
                    <a href="https://www.tiktok.com/@mktstories" class="link-item-header"><fa-icon
                            [icon]="['fab','tiktok']"></fa-icon></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="menu-mobile mobile">
        <mat-drawer-container autosize class="mat-drawer-container"
            [ngStyle]="{ 'min-width': drawerAberto ? '100%' :  '0'}">
            <mat-drawer #drawer opened="true" mode="side" position="start" class="mat-drawer">
                <mat-nav-list>
                    <img src="../../../assets/img/Icones MarketStories 2.png" alt="" class="logo-banner">
                </mat-nav-list>

                <mat-nav-list class="caixa-provisorio">
<ul>
    <li> <a class="link-header" href="#quem-somos" (click)="fecharMenu()">O que é</a></li>

    <li> <a class="link-header" href="#precos" (click)="fecharMenu()">Features</a></li>

    <li> <a class="link-header" href="#testemunhas" (click)="fecharMenu()">Assessores</a></li>
</ul>
                   
                    
                    
                   <mat-list-item>
                        
                        <li><a href="" class="item-link-mobile">Quem somos</a></li>
                        <li><a href="" class="item-link-mobile">Benefícios</a></li>
                    </mat-list-item>
                    <mat-list-item>
                        <li><a href="" class="item-link-mobile">Quem somos</a></li>
                        <li><a href="" class="item-link-mobile">Benefícios</a></li>
                    </mat-list-item> 
                </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content>
                <div style="text-align: center;min-height: 600px;">
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div> -->
</header>
<!-- <div class="aurora">
  <h1 class="teste4" >oi8888</h1>
  </div> -->


<div class="caixa-menu-mobile mobile">
    <mat-toolbar color="primary" class="mat-elevation-z">
        <!-- <button class="btn-menu-mobile"><fa-icon [icon]="['fas','house']"></fa-icon></button> -->
        <button class="btn-associar-header"><a href="https://form.typeform.com/to/Ar82twrP">Be
            MktStories</a></button>
        <!-- <button (click)="teste()" (click)="verifica()" (click)="drawer.toggle()" mat-icon-button position="end"
            class="btn-menu-mobile">
            <fa-icon [icon]="['fas',getIconName()]"></fa-icon>
        </button> -->
    </mat-toolbar>
</div>

<div class="imagem-logo-banner">
    <img src="../../../assets/img/image.png" alt="" class="logo-banner">
</div>


<section class="banner" id="inicio">
    <div class="conteiner container-banner">
        <h1 class="titulo-banner">Para manter-se no topo, é preciso </h1>
        <div class="gradiente">
            <h2>rapidez.</h2>
        </div>

        <div class="carrossel">

        </div>
    </div>


    <div class="carrossel ">
        <div class="carousel carrossel-banner" data-num-visible="4">
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/agendaSemanaP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/metalicasP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/mundoAgoraP.png" alt="" class="img-banner"></a>

            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img src="../../../assets/img/focusP.png"
                    alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#two!"> <img
                    src="../../../assets/img/urgenteP.png" alt="" class="img-banner img-banner-odd"></a>
                    <a class="carousel-item no-opacity carousel-banner " href="#two!"> <img
                        src="../../../assets/img/rankingPerformanceP.png" alt="" class="img-banner img-banner-odd"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#two!"> <img
                    src="../../../assets/img/CommoditiesPetroleoP.png" alt="" class="img-banner img-banner-odd"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/bitCoinP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/superQuartaP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#four!"> <img
                    src="../../../assets/img/commoditiesAgricolaP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#four!"> <img src="../../../assets/img/ttP.png"
                    alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/ethereumP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/fechamentoMercadoP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/minerioFerroP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/brasilAgoraP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/nasdaqP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/ranking.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img
                    src="../../../assets/img/indicesP.png" alt="" class="img-banner"></a>
            <a class="carousel-item no-opacity carousel-banner " href="#one!"> <img src="../../../assets/img/selicP.png"
                    alt="" class="img-banner"></a>
        </div>
    </div>

</section>

<div class="container-cards">


    <div class="seguros-cards">

    </div>
</div>
<section class="quem-somos" id="quem-somos">
    <div class="conteinerx">
        <div class="conteudo-quem-somos">
            <div class="titulo-caixa">
                <h1 class="titulo titulo-logo">O que é o</h1>
                <img src="../../../assets/img/MarketStories_Simbolo_Preferencial 1.png" alt="" class="titulo-logo">


            </div>

            <div class="lista-caixa-quem-somos">
                <ul class="lista-topicos-quem-somos">
                    <li class="lista-topicos-quem-somos-li">
                        <span class="span-topicos-quem-somos">
                            <img src="../../../assets/img/1qs (1).svg" alt="" class="img-topicos-quem-somos">
                        </span>
                        <p class="texto-topico">Coletamos as informações <span class="enfase-texto-topico">mais
                                relevantes</span> do mercado</p>
                    </li>
                    <li class="lista-topicos-quem-somos-li">
                        <span class="span-topicos-quem-somos">
                            <img src="../../../assets/img/2qs (1).svg" alt="" class="img-topicos-quem-somos">
                        </span>
                        <p class="texto-topico">Desenvolvemos layouts <span class="enfase-texto-topico">personalizados
                                em questão de segundos</span></p>
                    </li>
                    <li class="lista-topicos-quem-somos-li">
                        <span class="span-topicos-quem-somos">
                            <img src="../../../assets/img/3qs (1).svg" alt="" class="img-topicos-quem-somos">
                        </span>
                        <p class="texto-topico">Fazemos o envio do <span class="enfase-texto-topico">story criado</span>
                            através do seu WhatsApp</p>
                    </li>
                    <li class="lista-topicos-quem-somos-li">
                        <span class="span-topicos-quem-somos">
                            <img src="../../../assets/img/4qs (4).svg" alt="" class="img-topicos-quem-somos">
                        </span>
                        <p class="texto-topico">Você recebe o story, salva no celular e publica na <span
                                class="enfase-texto-topico">mesma hora</span></p>
                    </li>
                    <li class="lista-topicos-quem-somos-li">
                        <span class="span-topicos-quem-somos">
                            <img src="../../../assets/img/2testeqs (1).svg" alt="" class="img-topicos-quem-somos">
                        </span>
                        <p class="texto-topico">Pronto, você já está na frente de <span
                                class="enfase-texto-topico">qualquer um!</span></p>
                    </li>
                </ul>

            </div>



            <div class="numeros-quem-somos">
                <ul class="numeros-lista-quem-somos">
                    <li class="numeros-item">

                        <h1 class="titulo-numeros">+{{Layoutscount}}</h1>
                        <h1 class="subtitulo-numeros">Layouts diferentes</h1>


                    </li>
                    <li class="numeros-item">

                        <h1 class="titulo-numeros">+{{Storiescount}}</h1>
                        <h1 class="subtitulo-numeros">Stories entregues por mês</h1>


                    </li>
                    <li class="numeros-item">

                        <h1 class="titulo-numeros">+{{Assessorescount}}</h1>
                        <h1 class="subtitulo-numeros">Assessores que utilizam diariamente</h1>


                    </li>
                </ul>


            </div>


            <div class="btn-apelativo">
                <button class="btn-associar "> <a href="https://form.typeform.com/to/Ar82twrP">Quero
                        receber!</a></button>
            </div>

            <!-- <h1 class="titulo-quem-somos">O que o <span><img src="../../../assets/img/MarketStories_Simbolo_Preferencial 1.png" alt="" class="titulo-quem-somos-logo"></span> te  entrega  <span class="enfase-texto-topico">todos os dias</span></h1> -->
            <div class="titulo-caixa titulo-caixa-quem-somos">
                <div class="mobile-quem-somos">
                    <div class="titulo-quem-somos-mobile">
                        <h1 class="titulo  titulo-logo">O que o</h1>
                        <img src="../../../assets/img/MarketStories_Simbolo_Preferencial 1.png" alt=""
                            class="titulo-logo">


                    </div>

                    <div class="titulo2-quem-somos ">
                        <h1 class="titulo titulo-logo">te entrega <span class="enfase-texto-topico ">todos os
                                dias</span> </h1>
                    </div>

                </div>


                <h1 class="titulo quem-somos-desktop">O que o</h1>
                <img src="../../../assets/img/MarketStories_Simbolo_Preferencial 1.png" alt=""
                    class="titulo-logo quem-somos-desktop">


                <h1 class="titulo quem-somos-desktop">te entrega <span class="enfase-texto-topico ">todos os dias</span>
                </h1>
            </div>
        </div>

    </div>
    <div class="topicos-quem-somos">




    </div>
    <div class="slide-quem-somos">

        <swiper-container [navigation]="mobileCard" [slidesPerView]="slidesPerViewQuemSomos"
            [spaceBetween]="spaceQuemSomos" class="swiper-quem-somos">
            <swiper-slide>
                <img src="../../../assets/img/focusCard.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/commoditiesFerroC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/super-quarta.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/fechamento-mercado.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/mineraisCard (1).png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/urgenteC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/agricola.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/agenda-diaria (1).png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/ethereumCard (1).png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/mundoC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/taxa-selic.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/bitCoinCard.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/rankingCard.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/commoditiesPetroleoC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/nasdaqC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/indicesAmericanosC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/agendaSemanaCard.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>
            <swiper-slide>
                <img src="../../../assets/img/brC.png" alt="" class="item-slide-quem-somos">
            </swiper-slide>

        </swiper-container>
    </div>
</section>

<section class="beneficios">
    <div class="conteiner">
        <h1 class="titulo-quem-somos"> Para seu cliente, a velocidade do que acontece é muito importante.</h1>

        <div class="caixa-quem-somos titulo-quem-somos">

            <div class="titulo-caixa titulo-caixa-quem-somos">

                <h1 class="titulo quem-somos-desktop">Sabe por que você deveria ser um </h1>
                <img src="../../../assets/img/MarketStories_Simbolo_Preferencial 1.png" alt=""
                    class="titulo-logo quem-somos-desktop">


                <h1 class="titulo quem-somos-desktop">? </h1>


            </div>
        </div>





        <!-- <ul class="lista-beneficios">
            <li class="item-beneficios">
                <div class="cont">
                    <img src="../../../assets/img/1.png" class="img-beneficios">
                    <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                        sua audiência ao informá-los em primeira mão</p>
                </div>


            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/2.png" class="img-beneficios" alt="">
          
                    <p class="txt-beneficio"> Layouts personalizados para você, profissional de investimentos, com tudo
                        o que acontece e na hora em que acontece</p>
              

            </li>
            <li class="item-beneficios">
               
                    <img src="../../../assets/img/3.png" class="img-beneficios" alt="">
                    <p class="txt-beneficio">Geração de Receita: + Clientes = Mais receita! Quem usa o MarketStories
                        capta, em média, de 10 a 20% da carteira atual a mais por ano</p>
                
            </li>
            <li class="item-beneficios">

                <img src="../../../assets/img/4.png" class="img-beneficios" alt="">
                <p class="txt-beneficio">Esteja no maior hub de informações em tempo real já em formato de stories para
                    profissionais de investimentos do Brasil</p>

            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/5.png" class="img-beneficios" alt="">
                <p class="txt-beneficio">Com MarketStories, basta salvar e postar. Você já recebe tudo pronto!</p>
            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/6.png" class="img-beneficios" alt="">
                <p class="txt-beneficio">Abertura para a captação de mais clientes</p>
            </li>
            <li class="item-beneficios">
                <img src="../../../assets/img/7.png" class="img-beneficios" alt="">
                <p class="txt-beneficio"> Esteja no maior hub de informações em tempo real já em formato de stories para
                    profissionais de investimentos do brasil.</p>
            </li>

        </ul> -->

    </div>
    <div class="swiper-apelativo">

        <swiper-container [slidesPerView]="mobileBeneficiosCard" [spaceBetween]="spaceQuemSomos"
            class="swiper-quem-somos">


            <swiper-slide>
                <span class="caixa-item-apelativo odd-apelativo">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/Frame 10.svg" class="img-beneficios-apelativo">
                        <h5 class="titulo-beneficio-apelativo">Especialista no mercado</h5>
                    </div>
                    <div class="caixa-txt-apelativo">


                        <p class="txt-beneficio-apelativo">Torne-se um especialista do mercado financeiro e construa
                            autoridade para sua audiência ao informá-los em primeira mão</p>
                    </div>
                </span>
            </swiper-slide>
            <swiper-slide>
                <span class="caixa-item-apelativo ">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/layout.svg" class="img-beneficios-apelativo" alt="">
                        <h5 class="titulo-beneficio-apelativo">Layouts personalizados</h5>

                    </div>

                    <div class="caixa-txt-apelativo">

                        <p class="txt-beneficio-apelativo"> Layouts personalizados para você, profissional de
                            investimentos,
                            com tudo
                            o que acontece e na hora em que acontece</p>
                    </div>
                </span>
            </swiper-slide>
            <swiper-slide>
                <span class="caixa-item-apelativo odd-apelativo">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/medal award.svg" class="img-beneficios-apelativo" alt="">
                        <h5 class="titulo-beneficio-apelativo">Maior hub de informações</h5>
                    </div>
                    <div class="caixa-txt-apelativo">
                        <p class="txt-beneficio-apelativo">Esteja no maior hub de informações em tempo real já em
                            formato de
                            stories para profissionais de investimentos do Brasil</p>
                    </div>
                </span>

            </swiper-slide>
            <swiper-slide>
                <span class="caixa-item-apelativo ">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/cmmk.svg" class="img-beneficios-apelativo" alt="">
                        <h5 class="titulo-beneficio-apelativo">Receba tudo pronto</h5>
                    </div>

                    <div class="caixa-txt-apelativo">
                        <p class="txt-beneficio-apelativo">Com MarketStories, basta salvar e postar. Você já recebe tudo
                            pronto!</p>
                    </div>
                </span>
            </swiper-slide>
            <!-- <swiper-slide>
                <span class="caixa-item-apelativo">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/5.png" class="img-beneficios-apelativo" alt="">
                        <h5 class="titulo-beneficio-apelativo">Especialista no mercado</h5>
                    </div>
                  
                    <p class="txt-beneficio-apelativo">Esteja no maior hub de informações em tempo real já em formato de
                        stories para profissionais de investimentos do Brasil</p>
                </span>
            </swiper-slide> -->
            <!-- <swiper-slide>
            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/6.png" class="img-beneficios-apelativo" alt="">
                <p class="txt-beneficio-apelativo">Com MarketStories, basta salvar e postar. Você já recebe tudo pronto!</p>
            </span>
        </swiper-slide> -->
            <swiper-slide>
                <span class="caixa-item-apelativo odd-apelativo">
                    <div class="caixa-img-apelativo">
                        <img src="../../../assets/img/Group 22 (1).svg" class="img-beneficios-apelativo" alt="">
                        <h5 class="titulo-beneficio-apelativo">Suporte via WhatsApp</h5>
                    </div>
                    <div class="caixa-txt-apelativo">
                        <p class="txt-beneficio-apelativo"> Com o nosso suporte via WhatsApp, você tem acesso rápido e
                            conveniente a uma equipe dedicada pronta para ajudar a solucionar suas dúvidas e fornecer
                            assistência especializada. </p>
                    </div>
                </span>
            </swiper-slide>


        </swiper-container>
    </div>
    <!-- <div class="carousel carrossel-apelativo" data-num-visible="4">
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios-apelativo">
                <p class="txt-beneficio-apelativo">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>
        <a class="carousel-item no-opacity carousel-apelativo " href="#one!">

            <span class="caixa-item-apelativo">
                <img src="../../../assets/img/1.png" class="img-beneficios">
                <p class="txt-beneficio">Torne-se um especialista do mercado financeiro e construa autoridade para
                    sua audiência ao informá-los em primeira mão</p>
            </span>

        </a>

    </div> -->
</section>

<section class="precos">
    <div class="precos-container conteiner">
        <div class="conteudo-precos">
            <div class="caixa-imagem-precos">
                <img class="imagem-precos" src="../../../assets/img/img-precosv2.png" alt="">
            </div>
            <div class="escrito-precos">
                <h3 class="escrito-titulo-precos">Por apenas <span class="preco-desktop">
                        <span id="reais">R$</span> <span id="preco">199,90</span>
                    </span>
                </h3>
                <!-- <h1 class="escrito-titulo-precos-mobile"> <span id="reais">R$</span> 200,00</h1> -->
                <div class="escrito-preco">
                    <h3 class="escrito-subtitulo-precos-gratis">10 dias de teste grátis!</h3>
                    <h2 class="escrito-subtitulo-precos">+400 stories/mês personalizados para você!</h2>
                    <p class="escrito-texto-precos">Descubra o poder dos insights exclusivos! Assine agora nosso
                        serviço premium e
                        receba em média 250 stories detalhados sobre o mercado financeiro todo mês, por apenas R$
                        199,90 reais.</p>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Iniciar período
                            grátis!</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="conteudos">
    <div class="conteiner">
        <ul class="lista-conteudos">
            <li class="item-conteudos">

                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/agendaSemanaP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/mundoAgoraP.png" alt="" class="img-banner"></a>

                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/focusP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/urgenteP.png" alt="" class="img-banner img-banner-odd"></a>
                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos teste"> As informações mais relevantes do dia e da semana em layouts que
                        cobrem eventos do mercado financeiro e assuntos em alta em âmbito nacional e internacional.</h2>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Ver mais</a></button>
                </div>

            </li>
            <li class="item-conteudos">



                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/fechamentoMercadoP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/nasdaqP.png" alt="" class="img-banner"></a>

                    <a class="carousel-item no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/indicesP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/commoditiesAgricolaP.png" alt=""
                            class="img-banner img-banner-odd"></a>
                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Dados relevantes da Bolsa brasileira e das Bolsas americanas,
                        cobrindo as ações com maiores altas, baixas e desempenhos dos índices, além das variações nas
                        principais commodities agrícolas.</h2>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Ver mais</a></button>
                </div>
            </li>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/focusP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/ranking.png" alt="" class="img-banner"></a>

                    <a class="carousel-item   no-opacity carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/metalicasP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/CommoditiesFerroP.png" alt=""
                            class="img-banner img-banner-odd"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/CommoditiesPetroleoP.png" alt=""
                            class="img-banner img-banner-odd"></a>

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos teste">Informações sempre atualizadas com projeções do governo sobre a
                        economia do país e a
                        performance de fundos de investimento, além do desempenho e o sentimento do mercado em relação
                        às principais commodities minerais.
                    </h2>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Ver mais</a></button>
                </div>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity no-opacity-cont carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/bitCoinP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo no-opacity-cont " href="#one!"> <img
                            src="../../../assets/img/ethereumP.png" alt="" class="img-banner"></a>

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Dados atualizados em praticamente tempo real com a performance das
                        principais criptomoedas da atualidade,
                        contendo a variação em diferentes períodos de tempo e as máximas e mínimas registradas em 24h.
                    </h2>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Ver mais</a></button>
                </div>
            </li>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity no-opacity-cont carousel-conteudo " href="#one!"> <img
                            src="../../../assets/img/superQuartaP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo no-opacity-cont " href="#one!"> <img
                            src="../../../assets/img/selicP.png" alt="" class="img-banner"></a>

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Divulgação em praticamente tempo real das decisões que acontecem
                        no
                        Brasil e
                        nos Estados Unidos referentes à taxa de juros após as reuniões do COPOM e do FED.</h2>
                    <button class="btn-associar"><a href="https://form.typeform.com/to/Ar82twrP">Ver mais</a></button>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-apelativo desktop-btn">
        <button class="btn-associar "><a href="https://form.typeform.com/to/Ar82twrP">Começar!</a></button>
    </div>
</section>




<section>






    <section class="feeds">
        <div class="container-feeds ">
            <div class="carousel carrossel-conteudo carrossel-conteudo-feed" data-num-visible="4">
                <a class="carousel-item no-opacity carousel-conteudo carousel-conteudo-feed " href="#one!"> <img
                        src="../../../assets/img/1v.png" alt="" class="img-conteudo"></a>
                <a class="carousel-item no-opacity carousel-conteudo carousel-conteudo-feed " href="#one!"> <img
                        src="../../../assets/img/2a.png" alt="" class="img-conteudo"></a>
                <a class="carousel-item no-opacity carousel-conteudo carousel-conteudo-feed" href="#one!"> <img
                        src="../../../assets/img/3vm.png" alt="" class="img-conteudo"></a>
                <a class="carousel-item no-opacity carousel-conteudo carousel-conteudo-feed" href="#one!"> <img
                        src="../../../assets/img/feed-relatorio.png" alt="" class="img-conteudo"></a>

            </div>
            <div class=" escrito-feeds">
                <h1 class="titulo-lead">Fechamento de Mercado Semanal</h1>
                <p class="txt-lead">Você também receberá, toda sexta-feira ao final da tarde, três artes para o
                    formato carrossel (feed) do
                    Instagram contendo as ações com as maiores altas, maiores baixas e o desempenho do Ibovespa, Dólar e
                    Bitcoin durante a semana.</p>

            </div>
        </div>

    </section>



</section>

<section class="assessores">



    <div class="conteiner">
        <h1 class="titulo">Quem usa o MarketStories, recomenda</h1>


        <!-- <div class="caixa-assessores">
            <div class="conteudo-assessores">
               
                <div class="caixa-fala-assessores">
                    <img src="../../../assets/img/assessor1.png" alt="" class="img-assessor">
                    <div class="escrito-assessor">
                        <p class="txt-assessor">"Busquei por alguns anos alguma ferramenta que pudesse entregar,
                            qualidade de
                            conteúdo e velocidade na informação. Agora tenho desfruto das duas coisas com o Market
                            Stories,
                            tem sido uma experiência tremenda com um feedback muito importante de clientes e amigos que
                            tem
                            se
                            apoiado em algumas informações diárias para sua tomada de decisão."</p>
                        <p class="assessor">Rodrigo Ferron.</p>
                        <p class="cargo-asssessor">
                            Assessor de investimentos - Monte Bravo
                        </p>
                    </div>
                </div>
    
               
              
               
               
               
                <div class="avaliacao-assessores">
                    <div class="total-avaliacao"><img src="../../../assets/img/Group 356.png" alt=""></div>
                    <div class="caixa-avaliacao-assessores">

                        <div class="total-assessores">

                            <div class="txt-avaliacao">

                                <p><span>+55</span> usuários atualmente</p>
                                <div class="estrelas-avaliacao">
                                    <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                                    <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                                    <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                                    <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                                    <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->


    </div>

    <swiper-container [navigation]="true" [slidesPerView]="1" [spaceBetween]="spaceQuemSomos"
        class="swiper-quem-somos swiper-assessores">
        <swiper-slide>
            <div class="caixa-assessor">
                <img src="../../../assets/img/ferron.jpg" alt="" class="img-assessor">
                <div class="caixa-fala-assesor">
                    <p class="txt-assessor">"Busquei por alguns anos alguma ferramenta que pudesse entregar,
                        qualidade de
                        conteúdo e velocidade na informação. Agora tenho desfruto das duas coisas com o Market
                        Stories,
                        tem sido uma experiência tremenda com um feedback muito importante de clientes e amigos que
                        tem
                        se
                        apoiado em algumas informações diárias para sua tomada de decisão."</p>
                    <p class="assessor">Rodrigo Ferron.</p>
                    <p class="cargo-asssessor">
                        Assessor de investimentos - Monte Bravo
                    </p>
                </div>

            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="caixa-assessor">
                <img src="../../../assets/img/silvia.jpg" alt="" class="img-assessor">
                <div class="caixa-fala-assesor">
                    <p class="txt-assessor">"Hoje em dia, o digital é extremamente importante e fundamental para muitas
                        profissões, e para nós, no mercado financeiro, não poderia ser diferente.
                        Confesso que tinha problemas em encontrar uma empresa de marketing com informações atualizadas e
                        de grande qualidade a respeito do mercado financeiro. Com o MarketStories, eu encontrei tudo
                        isso e tenho obtido muitos feedbacks de clientes sobre o meu conteúdo, e tudo que gera mais
                        informação gera engajamento e, consequentemente, gera retorno."</p>
                    <p class="assessor">Silvia Cristina.</p>
                    <p class="cargo-asssessor">
                        Assessora de Investimentos - Fictor Agro
                    </p>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>


    <!-- <div class="conteiner">
    <div class="avaliacao-assessores">
        <div class="total-avaliacao"><img src="../../../assets/img/Group 356.png" alt=""></div>
        <div class="caixa-avaliacao-assessores">

            <div class="total-assessores">

                <div class="txt-avaliacao">

                    <p><span>+55</span> usuários atualmente</p>
                    <div class="estrelas-avaliacao">
                        <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                        <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                        <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                        <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                        <fa-icon [icon]="['fas','star']" class="estrela"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




</section>

<div class="form">
    <div data-tf-live="01HV20WMJ1KRJ3AXVP96XZT4KX" class="teste"></div>
    <script src="//embed.typeform.com/next/embed.js"></script>
</div>


<div class="link-top link-on"><a href="https://wa.link/sdbmic">
        <fa-icon [icon]="['fab','whatsapp']"></fa-icon></a></div>
<footer class="footer">

    <div class="  conteiner-footer">

        <div class="conteudo-footer">
            <div class="logo-footer">
                <img class="img-logo-footer" src="../../../assets/img/logo.png" alt="">
                <p class="texto-footer">Velocidade é o que define se algo é relevante ou não no mercado.</p>
            </div>

            <div class="links-footer">
                <ul class="lista-links-footer">
                    <li class="item-link-footer">
                        <a href="" class="link-footer">Home</a>
                    </li>
                    <li class="item-link-footer">
                        <a href="" class="link-footer">Recursos</a>
                    </li>
                    <li class="item-link-footer">
                        <a href="" class="link-footer">Preços</a>
                    </li>
                    <li class="item-link-footer">
                        <a href="" class="link-footer">Testemunhas</a>
                    </li>
                </ul>
            </div>

            <div class="redes-footer">
                <ul class="lista-redes-footer">
                    <li class="item-rede-footer">
                        <a href="https://www.instagram.com/marketstories.pro/" class="link-item-header"><fa-icon
                                [icon]="['fab','instagram']"></fa-icon></a>
                    </li>
                    <li class="item-rede-footer">
                        <a href="https://www.linkedin.com/company/marketstories" class="link-item-header"><fa-icon
                                [icon]="['fab','linkedin']"></fa-icon></a>
                    </li>
                    <li class="item-rede-footer">
                        <a href="https://twitter.com/mktstories" class="link-item-header"><fa-icon
                                [icon]="['fab','twitter']"></fa-icon></a>
                    </li>
                    <li class="item-rede-footer">
                        <a href="https://www.tiktok.com/@mktstories" class="link-item-header"><fa-icon
                                [icon]="['fab','tiktok']"></fa-icon></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</footer>
<router-outlet></router-outlet>