
<section class="conteudosTesteconteudos ">
    <div class="conteiner">
        <ul class="lista-conteudos">
            <li class="item-conteudos">

                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/agendaSemanaP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/mundoAgoraP.png" alt="" class="img-banner"></a>

                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/focusP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/urgenteP.png" alt="" class="img-banner img-banner-odd"></a>
                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos teste"> As informações mais relevantes do dia e da semana em layouts que
                        cobrem eventos do mercado financeiro e assuntos em alta em âmbito nacional e internacional.</h2>
                

                    <button routerLink="pagamento" class="btn-associar "><a >Quero 10 dias grátis!</a></button>
                </div>

            </li>
            <li class="item-conteudos">



                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/fechamentoMercadoP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/nasdaqP.png" alt="" class="img-banner"></a>

                    <a class="carousel-item no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/indicesP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/commoditiesAgricolaP.png" alt=""
                            class="img-banner img-banner-odd"></a>
                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Dados relevantes da Bolsa brasileira e das Bolsas americanas,
                        cobrindo as ações com maiores altas, baixas e desempenhos dos índices, além das variações nas
                        principais commodities agrícolas.</h2>
                        <button routerLink="pagamento" class="btn-associar "><a>Quero 10 dias grátis!</a></button>
                </div>
            </li>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item   no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/focusP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/ranking.png" alt="" class="img-banner"></a>

                    <a class="carousel-item   no-opacity carousel-conteudo " > <img
                            src="../../../assets/img/metalicasP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/CommoditiesFerroP.png" alt=""
                            class="img-banner img-banner-odd"></a>
                    <a class="carousel-item   no-opacity carousel-conteudo " href="#two!"> <img
                            src="../../../assets/img/CommoditiesPetroleoP.png" alt=""
                            class="img-banner img-banner-odd"></a>
                            <a class="carousel-item no-opacity carousel-conteudo " href="#two!"> <img
                                src="../../../assets/img/fundoImobiliarioP.png" alt="" class="img-banner img-banner-odd"></a>
                    

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos teste">Informações sempre atualizadas com projeções do governo sobre a
                        economia do país e a
                        performance de fundos de investimento, além do desempenho e o sentimento do mercado em relação
                        às principais commodities minerais.
                    </h2>
                    <button routerLink="pagamento" class="btn-associar "><a >Quero 10 dias grátis!</a></button>
                </div>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity no-opacity-cont carousel-conteudo " > <img
                            src="../../../assets/img/bitCoinP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo no-opacity-cont " > <img
                            src="../../../assets/img/ethereumP.png" alt="" class="img-banner"></a>
                            <a class="carousel-item no-opacity carousel-conteudo no-opacity-cont " > <img
                                src="../../../assets/img/cyptoP.png" alt="" class="img-banner"></a>

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Dados atualizados em praticamente tempo real com a performance das
                        principais criptomoedas da atualidade,
                        contendo a variação em diferentes períodos de tempo e as máximas e mínimas registradas em 24h.
                    </h2>
                    <button routerLink="pagamento" class="btn-associar "><a >Quero 10 dias grátis!</a></button>
                </div>
            </li>
            <li class="item-conteudos">
                <div class="carousel carrossel-conteudo" data-num-visible="4">
                    <a class="carousel-item no-opacity no-opacity-cont carousel-conteudo " > <img
                            src="../../../assets/img/superQuartaP.png" alt="" class="img-banner"></a>
                    <a class="carousel-item no-opacity carousel-conteudo no-opacity-cont " > <img
                            src="../../../assets/img/selicP.png" alt="" class="img-banner"></a>

                </div>
                <div class="caixa-conteudos">
                    <h2 class="titulo-conteudos ">Divulgação em praticamente tempo real das decisões que acontecem
                        no
                        Brasil e
                        nos Estados Unidos referentes à taxa de juros após as reuniões do COPOM e do FED.</h2>
                        <button routerLink="pagamento" class="btn-associar "><a >Quero 10 dias grátis!</a></button>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-apelativo desktop-btn">
        <button routerLink="pagamento" class="btn-associar "><a >Começar!</a></button>
    </div>
</section>





<router-outlet></router-outlet>