<section class="termos">
    <div class="termo-titulo-caixa">
        <img src="../../../../assets/img/logo.png" alt="" class="logo-mkt">
        <h1 class="titulo-geral">TERMOS DE USO</h1>
    </div>
   
    <div class="caixa-termo">
        <h1 class="titulo-termos">I – DAS PARTES</h1>
        <p class="txt-termos">
            <span class="strong">

            
            A MARKETSTORIES um produto da Agência Tyra LTDA</span>, pessoa jurídica de direito privado, constituída
            legalmente por Estatuto Social devidamente arquivado na Junta Comercial do Estado de São Paulo,
            inscrita no CNPJ sob o nº 39.933.806/0001-78, com endereço à Rua Narciso Sturlini, nº 124A, , Centro,
            cidade de Osasco (SP), CEP nº 06018-100, (“MARKETSTORIES”) estabelece nestes Termos de Uso as
            condições para utilização do site https: tyra.pro, de forma a esclarecer as obrigações e responsabilidades
            de seus Clientes e Usuários; <br>

            Será considerado como Usuário da MARKETSTORIES (“USUÁRIO”) qualquer pessoa física ou jurídica que
            acesse as áreas públicas do website da MARKETSTORIES, ou seja, o conteúdo que está disponível por meio
            de contrato a qualquer pessoa interessada, com base em registro prévio; <br>

            Será considerado como usuário da MARKETSTORIES (“USUÁRIO”) qualquer pessoa física ou jurídica,
            residente no Brasil ou no exterior, que tenha se cadastrado no Website da MARKETSTORIES, e adquirido
            onerosamente qualquer tipo de conteúdo produzido pela MARKETSTORIES, seja de forma avulsa, seja via
            assinatura de contrato por tempo determinado ou recorrente; <br>


            Este instrumento é celebrado com a concordância eletrônica do CLIENTE e/ou USUÁRIOS, que ficam
            vinculados a todas as disposiçõestranscritas abaixo, concordando e aceitando integralmente as condições
            destes Termos de Uso
        </p>
    </div>


    <div class="caixa-termo">
        <h1 class="titulo-termos">II – DO CONTEÚDO MARKETSTORIES</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 1ª: </span>O presente instrumento visa estabelecer os Termos de Uso que irão reger a relação jurídica 
            constituída entre a MARKETSTORIES, CLIENTES e USUÁRIOS, para disponibilização de acesso a um ou mais 
            conteúdos produzidos pela MARKETSTORIES, as quais são disponibilizadas via WhatsApp para 
            computadores, aparelhos celulares, tablets, e outros aparelhos conectados à internet. <br>
            <span class="strong">
                Parágrafo Único:</span> Os conteúdos da MARKETSTORIES podem ser elaborados no formato de Stories dentre
            outros formatos não descritos aqui, sendo certo que todas os conteúdos e materiais elaborados pela 
            MARKETSTORIES serão referidas, doravante, em conjunto ou isoladamente, e de forma geral, como 
            <span class="strong">
                “Conteúdo MARKETSTORIES”.</span> <br>

                <span class="strong">
                    Cláusula 2ª: </span>A MARKETSTORIES fornecerá e disponibilizará o Conteúdo da MARKETSTORIES de forma 
            onerosa, conforme seu critério de conveniência e oportunidade. <br>


        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">III – DOS CLIENTES E DOS USUÁRIOS</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 3ª:</span> Ao acessar o Website da MARKETSTORIES, o USUÁRIO terá acesso livre e direto ao Conteúdo 
            da MARKETSTORIES, fazendo-se necessário, entretanto, adquirir a licença de acesso ao Conteúdo 
            MARKETSTORIES não-gratuito para obter acesso ao mesmo. <br>

            <span class="strong">
                Parágrafo Primeiro:</span> Ao adquirir qualquer licença de acesso ao Conteúdo MARKETSTORIES não-gratuito e 
se cadastrar no Website da MARKETSTORIES, o USUÁRIO se tornará um USUÁRIO da MARKETSTORIES, –
DOS PLANOS DE ASSINATURA RECORRENTE. <br>
<span class="strong">
    Cláusula 4ª: </span>O USUÁRIO poderá assinar qualquer dos Planos de Assinatura da MARKETSTORIES que 
estiverem vigentes na data da contratação, o que lhe dará o direito de acessar, por um período 
determinado, contado da data de assinatura do plano, o Conteúdo MARKETSTORIES

<br>
<span class="strong">
    Parágrafo Primeiro: </span>As condições específicas de cada modalidade de Plano de Assinatura serão informadas 
no momento da contratação, tais como, mas não limitadas a conteúdo disponível, acesso a conteúdos 
exclusivos, periodicidade e valores de pagamentos, benefícios, vantagens, dentre outras. As condições de 
contratação farão parte integrante destes Termos de Uso.


<br>

<span class="strong">
    Parágrafo Segundo: </span>Ficará sob discricionariedade da MARKETSTORIES estabelecer e alterar os valores e as 
condições de pagamento, bem como definir quais conteúdos estarão disponíveis aos USUÁRIOS em cada 
um dos Planos.<br>

<span class="strong">
    Parágrafo Terceiro:</span> Com a conclusão da contratação, o USUÁRIO aceitará o presente Termo de Compra 
com todas as condições contratadas.<br>

<span class="strong">
    Parágrafo Quarto: </span>Ao adquirir um dos Planos da MARKETSTORIES, fica assegurado ao USUÁRIO o direito 
de acessar, durante o interregno do período contratado, todo o Conteúdo da MARKETSTORIES englobado
pelo respectivo Plano, enquanto este for disponibilizado pela MARKETSTORIES, e desde que o USUÁRIO 
tenha acesso à internet, observado o disposto Parágrafo Único da Cláusula 22ª.<br>


<span class="strong">
    Parágrafo Quinto:</span> O preço da assinatura dos Planos de Assinatura da MARKETSTORIES e todos os outros 
encargos incorridos pelo USUÁRIO em relação ao uso da plataforma, tais como impostos e possíveis taxas 
de transação, serão cobrados de acordo com a forma de pagamento escolhida na data da compra<br>


<span class="strong">
    Cláusula 5ª: </span>O Acesso do USUÁRIO ao Conteúdo MARKETSTORIES poderá ser interrompido caso o
USUÁRIO não esteja em dia com o pagamento do Plano contratado, ficando suspenso o acesso até
que os pagamentos sejam regularizados. A interrupção do acesso não implicará na extensão do prazo 
contratado.<br>

<span class="strong">
    Parágrafo Primeiro:</span> O cancelamento dos Planos de Assinatura da MARKETSTORIES pode ocorrer em 
qualquer momento do período contratado, porém o reembolso do valor da compra apenas se dará se o 
cancelamento ocorrer dentro de 10 dias corridos após a data da contratação. Caso o cancelamento seja 
realizado após o período de 10 dias corridos da contratação, não haverá reembolso de qualquer valor da 
assinatura, apenas o cancelamento da renovação automática do ano seguinte.<br>


<span class="strong">
    Parágrafo Segundo:</span> O reembolso do valor dos Planos de Assinatura da MARKETSTORIES será realizado 
pelo mesmo meio de pagamentos utilizado para a compra, e tem prazo médio de 30 (trinta) a 60 
(sessenta) dias contados da data de solicitação.<br>

<span class="strong">
    Parágrafo Terceiro: </span>Caso o cancelamento seja realizado antes da data de expiração da assinatura do Plano 
contratado, a assinatura não será renovada automaticamente, porém, o acesso do USUÁRIO à Área 
Logada continuará pelos dias restantes do período já pago.<br>


<span class="strong">
    Parágrafo Quarto: </span>Se houve aquisição de outra assinatura através de um upgrade de assinatura anterior, o 
cancelamento será feito sobre as duas assinaturas.<br>



<span class="strong">
    Parágrafo Quinto: </span>Uma vez encerrado o prazo do Plano contratado, a assinatura do USUÁRIO será 
automaticamente renovada por igual período e nas condições que estiverem em vigor no dia da 
renovação, incluindo eventuais novos valores de contratação.<br>



<span class="strong">
    Parágrafo Sexto:</span> Caso a assinatura do Plano seja realizada mediante a utilização de algum desconto 
promocional oferecido pela MARKETSTORIES, fica desde já estabelecido que o referido desconto não terá 
validade para a renovação do Plano contratado, que será realizada pelos valores vigentes na data de 
renovação<br>


<span class="strong">
    Parágrafo Sétimo:</span> Caso haja alguma alteração no Plano contratado, ou até mesmo sua exclusão, o 
USUÁRIO terá assegurado direito a manutenção das condições contratadas durante o período restante de 
seu Plano.<br>


<span class="strong">
    Cláusula 6ª:</span> Cada uma dos conteúdos e dos materiais produzidos e comercializados pela MARKETSTORIES
possui uma licença de acesso específica que permite o acesso tão somente ao seu respectivo conteúdo.<br>


        </p>
    </div>


    <div class="caixa-termo">
        <h1 class="titulo-termos">IV – DAS CLASSIFICAÇÕES DOS USUÁRIOS</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 7ª:</span> A MARKETSTORIES poderá classificar os USUÁRIOS em diferentes categorias, segundo 
critérios e condições estipulados pela própria MARKETSTORIES, e que poderão ser alterados a qualquer 
tempo, segundo o juízo de conveniência exclusivo da própria MARKETSTORIES. <br>

<span class="strong">
    Parágrafo Primeiro:</span> Sem prejuízo da possibilidade de criação de novas categorias de USUÁRIOS, ou de 
subdivisão das categorias existentes, ou até da eliminação de categorias, ficam desde já estipuladas as 
seguintes categorias de USUÁRIOS. <br>

1. O USUÁRIO que tiver adquirido o tipo de Conteúdo MARKETSTORIES será classificado como: 
“Membro Assinante”; <br>


2. O USUÁRIO que assinar qualquer dos Planos oferecidos será classificado como “Membro 
Assinante”, de acordo com o Plano contratado.<br>

<span class="strong">
    Parágrafo Segundo: </span>A MARKETSTORIES poderá, segundo o seu critério exclusivo de conveniência e 
oportunidade, conceder ou retirar quaisquer direitos para uma determinada categoria de USUÁRIO da 
MARKETSTORIES, sem que isso implique na concessão ou retirada dos mesmos direitos para qualquer 
uma das demais categorias que possam existir, ou sem que isso implique em qualquer tipo de 
compensação em favor da categoria que teve algum direito excluído e/ou retirado.<br>



<span class="strong">
    Parágrafo Terceiro: </span>Algumas das diferentes categorias de USUÁRIOS poderão compartilhar dos mesmos 
direitos, sendo que outros direitos poderão ser exclusivos de uma determinada categoria.<br>


<span class="strong">
    Cláusula 8ª: </span>A MARKETSTORIES deverá informar o USUÁRIO de forma clara, no momento da aquisição de 
qualquer licença de acesso ao Conteúdo MARKETSTORIES, ou ainda no momento de assinatura de
qualquer um dos Planos disponíveis, se o USUÁRIO será incluído em qualquer uma das categorias de
USUÁRIO, bem como quais os direitos da referida categoria, cientificando-lhe, ainda, de que tanto a sua 
classificação na referida categoria de USUÁRIO, quanto os seus respectivos direitos poderão ser alterados 
a qualquer momento, segundo critério exclusivo da MARKETSTORIES.<br>

<span class="strong">
    Parágrafo Único: </span>Quando a MARKETSTORIES realizar qualquer modificação nas categorias de USUÁRIO, ou 
quando alterar os direitos de uma ou mais categorias, deverá informar prontamente os USUÁRIOS 
afetados pelas alterações.<br>
    </div>


    <div class="caixa-termo">
        <h1 class="titulo-termos">V – DOS PRODUTOS COMERCIALIZADOS</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 9ª: </span>As licenças de acesso ao Conteúdo MARKETSTORIES não gratuito comercializadas pela
            MARKETSTORIES destinam-se exclusivamente para uso pessoal, individual do USUÁRIO que as adquiri, 
            sendo, vedado, portanto, ao USUÁRIO dar qualquer destinação comercial ao conteúdo, ou transmiti-lo 
            para terceiros, ou congressos, treinamentos de equipe ou para grandes audiências.<br>
            Parágrafo Único: O USUÁRIO pode utilizar o Conteúdo MARKETSTORIES, principalmente no país onde fez
            a inscrição e somente nas áreas geográficas onde a MARKETSTORIES tiver licenciado o seu conteúdo. <br>

            <span class="strong">
                Cláusula 10ª:</span> O Conteúdo MARKETSTORIES disponibilizado gratuitamente poderá ser retirado a qualquer 
            tempo do ar pela MARKETSTORIES, independentemente de qualquer tipo de aviso ou notificação aos 
            usuários cadastrados. <br>


            <span class="strong">
                Cláusula 11ª: </span>Fica a critério exclusivo da MARKETSTORIES fixar os valores e as condições de 
            comercialização de cada uma daslicenças de acesso ao Conteúdo MARKETSTORIES, podendo modificá-los
            a qualquer momento.<br>

            <span class="strong">
                Parágrafo Único:</span> A MARKETSTORIES tem a prerrogativa de disponibilizar gratuitamente conteúdos que já 
            tenham sido comercializados previamente.<br>
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">VI – DA ADESÃO AOS TERMOS DE USO</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 12ª:</span> Estes Termos de Uso se aplicam à disponibilização de acesso a todo e qualquer Conteúdo 
            MARKETSTORIES, inclusive aquele que for disponibilizado de forma gratuita, dentro daquilo que for
            aplicável e compatível. <br>

            <span class="strong">
                Cláusula 13ª: </span>Ao acessar o Website da MARKETSTORIES, e, principalmente, ao efetuar o seu cadastro, o 
            CLIENTE /USUÁRIO está vinculado ao presente Termo, concordando plenamente com todas as cláusulas e 
            condições abaixo descritas. <br>


            <span class="strong">
                Parágrafo Único:</span>Caso o USUÁRIO tenha dúvidas a respeito das cláusulas do presente Termo, deverá entrar 
em contato com a MARKETSTORIES previamente à realização do cadastro, não podendo alegar futuro 
desconhecimento ou má compreensão das cláusulas ora contratadas.<br>

<span class="strong">
    Cláusula 14ª:</span> A MARKETSTORIES reserva para si a possibilidade de revisar o presente Termo a qualquer 
momento, sem a necessidade de aviso prévio do CLIENTE e ou do USUÁRIO. Além disso, sempre será 
possível consultar a versão mais atualizada do presente Termo através do endereço eletrônico:
https://marketstories.com.br/<br>
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">VII – DA PROPRIEDADE INTELECTUAL</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 15ª: </span>São de titularidade exclusiva da MARKETSTORIES todos os Direitos Autorais, sejam de ordem 
moral ou patrimonial, relacionados ao Conteúdo MARKETSTORIES, sendo que o USUÁRIO não adquire,
em nenhuma hipótese, direito à utilização de imagens,sons, fotografias, documentos, textos ou quaisquer
outros elementos disponibilizados no portal da MARKETSTORIES, sendo totalmente vedada a sua 
reprodução. <br>
<span class="strong">
    Parágrafo Único:</span> O CLIENTE e/ou USUÁRIO concordam em não arquivar, reproduzir, distribuir, modificar, 
exibir, realizar , publicar, licenciar ou criar trabalhos derivados, fazer o download, colocar à venda ou 
utilizar (exceto nas formas expressamente autorizadas por estes Termos de Uso) o Conteúdo 
MARKETSTORIES. O CLIENTE e o USUÁRIO também concordam em não: evadir, remover, alterar, 
desativar, degradar ou adulterar quaisquer das proteções do Conteúdo MARKETSTORIES, usar qualquer 
robô, spider, scraper ou outros meios automatizados para acessar o Conteúdo MARKETSTORIES não 
gratuito, descompilar, executar engenharia reversa ou desmembrar qualquer software ou outros 
produtos ou processos acessíveis pelo website da MARKETSTORIES, inserir qualquer código ou produto,
manipular o Conteúdo MARKETSTORIES de qualquer forma ou usar métodos de data mining, coleta de
dados ou extração de dados. Além disso, o CLIENTE e o USUÁRIO concordam em não fazer upload, 
publicar, enviar por e-mail, comunicar ou transmitir de qualquer forma qualquer material designado para 
interromper, destruir ou limitar a funcionalidade de qualquer software, hardware ou equipamento de 
telecomunicações associado à MARKETSTORIES, incluindo vírus de software, código, arquivos ou 
programas <br>


          
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">VIII – DAS OBRIGAÇÕES DAS PARTES</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 16ª:</span> O USUÁRIO compromete-se a fornecer dados verdadeiros no momento de preenchimento 
            das suas informações cadastrais perante a MARKETSTORIES, responsabilizando-se por eventuais erros de 
            digitação ou por dados inseridos erroneamente. <br>
            <span class="strong">
                Parágrafo Único:</span> O USUÁRIO autoriza a MARKETSTORIES a utilizar serviços próprios ou de terceiros para 
            apurar a veracidade das informações cadastrais, devendo informar imediatamente quaisquer alterações, 
            sobretudo de mudança de endereço físico ou de correio eletrônico<br>

            <span class="strong">
                Parágrafo Único: </span>O USUÁRIO autoriza a MARKETSTORIES a utilizar serviços próprios ou de terceiros para 
            apurar a veracidade das informações cadastrais, devendo informar imediatamente quaisquer alterações, 
            sobretudo de mudança de endereço físico ou de correio eletrônico<br>


            <span class="strong">
                Cláusula 17ª: </span>O USUÁRIO compromete-se a comunicar à MARKETSTORIES o extravio das informações de 
acesso à “Área Exclusiva”.<br>

<span class="strong">
    Parágrafo Único: </span>A MARKETSTORIES não se responsabiliza pela segurança dos dados pessoais do USUÁRIO 
armazenados em seu servidor em caso de má proteção ou uso negligente ou imprudente das informações 
de acesso à conta do USUÁRIO<br>

<span class="strong">
    Cláusula 18ª: </span>A MARKETSTORIES envidará seus maiores esforços para manter o normal funcionamento 
de seus servidores, não estando os sistemas isentos ou imunes a falhas ou incorreções. A MARKETSTORIES
compromete-se a corrigir as falhas apresentadas, seja através de atendimento direto, seja através da 
realização de atualizações do seu sistema.<br>


<span class="strong">
    Cláusula 19ª: </span>A MARKETSTORIES deverá assegurar que o seu Website esteja disponível por 99% do tempo 
de operação, excluídas manutenções programadas ou casos fortuitos e de força maior.<br>
Parágrafo Primeiro: A obrigação prevista no caput da presente Cláusula não abrange a conexão individual 
de cada USUÁRIO com a internet, sendo obrigação do CLIENTE e/ou USUÁRIO possuir conexão segura e 
estável, independente do funcionamento dos servidores da MARKETSTORIES.<br>


<span class="strong">
    Parágrafo Segundo: </span>O USUÁRIO se responsabiliza por todas as tarifas de acesso à Internet.<br>


    <span class="strong">
        Cláusula 20ª: </span>A MARKETSTORIES oferecerá ao USUÁRIO assistência técnica relacionada dúvidas ou falhas 
ou defeitos do funcionamento de sua plataforma.<br>


<span class="strong">
    Cláusula 21ª: </span>A MARKETSTORIES assume a responsabilidade de manter em sigilo e boa guarda os dados 
bancários e dados de cartão de crédito fornecidos pelo USUÁRIO, comprometendo-se a não divulgar ou 
compartilhar referidas informações, a não ser quando haja ordem de autoridade judicial para tanto, 
ressalvada a disposição prevista à Cláusula 25ª.<br>


<span class="strong">
    Cláusula 22ª: </span>O USUÁRIO autoriza a MARKETSTORIES a compartilhar os dados bancários e dados de cartão 
de crédito fornecidos pelo USUÁRIO, com empresa que venha a ser contratada pela MARKETSTORIES para 
fins de operacionalizar os pagamentos a serem realizados pelo USUÁRIO.<br>



<span class="strong">
    Cláusula 23ª: </span>O USUÁRIO declara, através da presente disposição, concordar com a utilização, coleta, uso, 
armazenamento e tratamento das informações armazenados no servidor da MARKETSTORIES, incluindo 
dados pessoais, financeiros, bancários, de conta, e todos as demais ações necessárias para que o serviço 
objeto do presente contrato seja prestado em sua integralidade.<br>


<span class="strong">
    Cláusula 24ª: </span>As Partes reconhecem e aceitam que:
a) todas as determinações da Lei Geral de Proteção de Dados, Lei n° 13.709/18 (doravante 
denominada “LGPD”) foram observadas, assegurando que o tratamento de dados pessoais será 
compatível com a finalidade específica autorizada pelo titular dos dados, se comprometendo a 
acompanhar eventuais alterações no teor da lei ou regulamentações complementares acerca do tema.
b) os dados são tratados de forma transparente e com respeito aos direitos fundamentais de 
liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.
c) os dados pessoais não serão usados para fins comerciais, salvo com expressa autorização da 
pessoa titular dos dados.
d) não serão compartilhados dados com terceiros, exceto se com prévia e expressa autorização do
titular.
e) comprometem-se a informar acerca de qualquer incidente envolvendo dados pessoais, incluindo, 
mas não se limitando a vazamento ou sequestro de dados, reclamações de titulares, autuações da Agência 
Nacional de Proteção de Dados (ANPD) ou qualquer outro órgão público.
f) as previsões da Política de Privacidade e Proteção de Dados da MARKETSTORIES serão observadas 
em sua integralidade<br>


Parágrafo Único: O CLIENTE e o USUÁRIO concordam com a utilização, coleta, uso, armazenamento e 
tratamento de todas as informações referentes à sua experiência de uso do Conteúdo MARKETSTORIES e 
à sua interação com o Website da MARKETSTORIES, tal como os comentários realizados dentro da 
plataforma, o tempo de navegação, quais os conteúdos assistidos e por quanto tempo, dentre outras 
informações, expressando, por meio da sua presente cláusula, total concordância com a Política de 
Privacidade e Proteção de Dados da MARKETSTORIES, a qual é parte integrante do presente instrumento.
          
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">IX – DA ISENÇÃO DE RESPONSABILIDADE DA MARKETSTORIES</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 25ª: </span>A MARKETSTORIES exime-se de qualquer responsabilidade por problemas e falhas 
            contempladas por “casosfortuitos” ou de “força maior”, conforme previsto pelo artigo 393 do Código Civil 
            Brasileiro. <br>

            <span class="strong">
                Cláusula 26ª: </span>A MARKETSTORIES não é responsável por falhas ou danos causados por pessoas não 
            autorizadas ou terceiros que não façam parte do quadro de funcionários da MARKETSTORIES ou ainda 
            casos de violação a direitos nos quais não exista culpa subjetiva da MARKETSTORIES. <br>

            <span class="strong">
                Cláusula 27ª:</span> A MARKETSTORIES não é obrigada a revisar ou confirmar as informações pessoais ou 
            informações de conta fornecidas pelo USUÁRIO, considerando-as verdadeiras para todos os fins e não 
            assumindo qualquer tipo de responsabilidade por danos a terceiros ou quaisquer outros problemas que 
            possam ser causados pelo preenchimento dos dados de maneira falsa ou incorreta. <br>


       
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">X – DA RESCISÃO</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 28ª: </span>Em caso de descumprimento de qualquer uma das Cláusulas previstas nestes Termos de 
            Uso, poderá a MARKETSTORIES considerar rescindido de pleno direito, e sem necessidade de qualquer 
            notificação prévia, o contrato entre as Partes, ficando a Parte culpada sujeita ao pagamento de perdas e 
            danos.
           <br>

           <span class="strong">
            Parágrafo Único: </span>Caso a rescisão contratual se dê por culpa do USUÁRIO, poderá a MARKETSTORIES
           cancelar a sua licença de acesso ao Conteúdo MARKETSTORIES não gratuito, sem qualquer tipo de 
           compensação ao USUÁRIO. <br>

           <span class="strong">
            Cláusula 29ª: </span>A MARKETSTORIES reserva-se o direito de cancelar, suspender ou bloquear contas de 
           USUÁRIOS por hipóteses não previstas no presente contrato, desde que informando por escrito ao 
           USUÁRIO as razões que tenham levado ao referido cancelamento. <br>


       
        </p>
    </div>


    <div class="caixa-termo">
        <h1 class="titulo-termos">VII – DAS CLÁUSULAS GERAIS</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 30ª: </span>O USUÁRIO declara ser o endereço de correio eletrônico como sendo uma forma eficaz, 
            válida e suficiente para recebimento de comunicados e autoriza que a página inicial de acesso ao Website 
            da MARKETSTORIES seja eficaz, válida e suficiente para a divulgação de assuntos relacionados ao serviço 
            ora contratado. <br>
            <span class="strong">
                Cláusula 31ª: </span>O USUÁRIO compromete-se a acessar o portal da MARKETSTORIES apenas em 
            computadores seguros e privados, livres de vírus e confiáveis do ponto de vista de segurança dos dados 
            inseridos, não havendo responsabilidade da MARKETSTORIES pelo acesso em computadores públicos, 
            como por exemplo em lan houses. <br>
            <span class="strong">
                Cláusula 32ª: </span>O não exercício de direito previsto no presente instrumento por qualquer uma das partes 
            não representará renúncia, transação ou novação do direito exercido, mas mera liberalidade. <br>
            <span class="strong">
                Cláusula 33ª: </span>Caso o Poder Judiciário venha a anular alguma das cláusulas do presente Termo, referida 
            anulabilidade ou nulidade não prejudicará a eficácia e a validade das demais cláusulas do contrato, 
            permanecendo em vigor o presente acordo desde que seja possível a manutenção do equilíbrio contratual 
            entre as partes. <br>
            <span class="strong">
                Cláusula 34ª: </span>O CLIENTE e o USUÁRIO autorizam a MARKETSTORIES a ceder as suas informações e arquivos 
            armazenados nos servidores a terceiros em caso de venda ou alienação parcial do controle societário da 
            MARKETSTORIES. <br>
            <span class="strong">
                Cláusula 35ª: </span>Ao efetuar o cadastro perante o Website da MARKETSTORIES e aceitar ostermos e condições
            de uso, o USUÁRIO declara e garante, expressamente, para todos os fins de direito, possuir capacidade 
            jurídica para a celebração do contrato, bem como que é financeiramente responsável pela utilização dos 
            produtos e serviços objeto deste Contrato. <br>
            Parágrafo Único: Caso o USUÁRIO realize o cadastro em nome de pessoa jurídica para a qual não possui 
            capacidade jurídica de contratação, estará obrigado pessoalmente aos termos do presente acordo, 
            sobretudo em relação ao pagamento dos serviços contratados. <br>
            <span class="strong">
                Cláusula 36ª: </span>A qualidade e velocidade imagens ou das análises, ou seja, do Conteúdo MARKETSTORIES pode
            variar de aparelho para aparelho e pode ser afetada por diversos fatores, incluindo sua localização, a 
            largura de banda disponível e a velocidade da sua conexão com a Internet. A disponibilidade de velocidade 
            alta está sujeita a seu serviço de Internet e aos recursos do aparelho usado. <br>
            <span class="strong">
                Cláusula 37ª:</span> O USUÁRIO declara que leu o presente instrumento antes de cadastrar-se como USUÁRIO 
            da MARKETSTORIES, estando plenamente de acordo com todos os seus termos e condições. <br>
            <span class="strong">
                Cláusula 42ª: </span>Estes Termos de Uso constituem o entendimento integral entre as partes e atende, 
            principalmente, às disposições do Código de Defesa do Consumidor (Lei nº 8.078/90) e do Decreto nº 
            7.962/13. <br>
            <span class="strong">
                Cláusula 38ª:</span>A Política de Privacidade e de Tratamento de Dados é parte integrante destes Termos de 
            Uso, e as Partes contratantes comprometem-se a cumpri-lo. <br>
 
       
        </p>
    </div>

    <div class="caixa-termo">
        <h1 class="titulo-termos">VIII – DA LEI APLICÁVEL E DA CLÁUSULA DE ELEIÇÃO DE FORO</h1>
        <p class="txt-termos">
            <span class="strong">
                Cláusula 39ª: </span>O presente contrato será regido pelas leis brasileiras em caso de disputas ou 
desentendimentos a respeito das suas estipulações <br>

<span class="strong">
    Cláusula 40ª: </span>As partes elegem o Foro da Comarca de São Paulo/SP, para dirimir quaisquer dúvidas ou 
controvérsias oriundas deste CONTRATO, com a exclusão de qualquer outro, por mais privilegiado que 
seja <br>

        
        </p>
    </div>

</section>