<!-- <section class="caixa-forms">


 


</section> -->

<!-- <div class="caixa-logo">
    <div class="texto-caixa-logo">
        <h1 class="titulo-banner">Para manter-se no topo, é preciso rapidez </h1>
        <img src="../../../../assets/img/Logo P&B MarketStories 2.png" alt="" class="logo-caixa">
    </div>
    <img src="../../../../assets/img/astronauta2 (2).png" alt="" class="imagem-astronauta">

<div>
   
</div>

</div> -->

<router-outlet></router-outlet>








    <section class="box">
        <!-- <div class="caixa-logo">

            <div class="texto-caixa-logo">
          
            </div>
            <img src="../../../../assets/img/astronauta2 (2).png" alt="" class="imagem-astronauta">
        </div>  -->
        <div class="container-logo">
            <img src="../../../../assets/img/Logo P&B MarketStories.png" alt="" class="logo-caixa">
        </div>
        <div class="caixa-formulario">
         
            <div class="conteudo-forgot">
                <div class="texto-forgot">
                    <h1 class="titulo-forgot">Esqueci minha senha</h1>
                    <h2 class="subtitulo-forgot">Enviaremos um e-mail para a redefinição de senha</h2>
                </div>
                <form #form="ngForm" class="needs-validation formulario " (submit)="send(form)">
                   
                        <div class="form-group col m12">
                            <label for="" class="form-label">E-mail</label>
                            <input  class="form-control" style="padding-left: 10px;">
          
                    </div>
    
                    <div class="form-group col m12">
                        <button class="btn-forgot " type="submit">Enviar</button>
                </div>
                </form>
            </div>
          
        </div>
    </section>
