<section class="caixa-forms">
    <form class="needs-validation formulario " >
    <!-- <form #form="ngForm" class="needs-validation formulario " > -->
        <div class="caixa-logo">
            <div class="texto-caixa-logo">
              

            

                <h1 class="titulo-banner">Para manter-se no topo, é preciso rapidez </h1>
                <img src="../../../../assets/img/Logo P&B MarketStories 2.png" alt="" class="logo-caixa">
            </div>
            <img src="../../../../assets/img/astronauta (3).png" alt="" class="imagem-astronauta">
        </div>
        <div class="caixa-formulario">
            <!-- <h1 >Be</h1> -->
            <!-- <div class="img-formulario">
                <img src="../../../../assets/img/Logo Colorido MarketStories (1).png" alt="" class="logo-formulario">
            </div>
             -->
      
    </div>
    </form>

 


</section>
